@charset "UTF-8";

:root {
		--font: Gilroy, -apple-system, "Open Sans", system-ui, "sans-serif";
		--blue: #4572EE;
		--blue-disabled: rgba(69, 114, 238, 0.5);
		--white: #fff;
		--black: #000;
		--red: #CA390C;
		--green: #339987;
		--grey: #818184;
		--yellow: #EFAD10;
		--orange: rgba(202, 57, 12, 0.7);
}
.themeLight {
		--bg: #F8F9FB;
		--block-bg: #fff;
		--block-bg2: #fff;
		--block-border2: #CCC5FF;
		--block-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
		--text: #262628;
		--border: #DDDFE1;
		--bg-blue: #DDE6FF;
		--disabled: #B4B4B4;
		--bg-disabled: #E2E2E2;
		--input-border: #DFDFDF;
		--link-border: #858585;
		--bg-tabs: #EFEFEF;
		--bg-tabs-active: #fff;
		--tabs-active: var(--red);
		--bg-violet: #EAE7FF;
}
.themeDark {
		--bg: #141414;
		--block-bg: #1d2426;
		--block-bg2: #141414;
		--block-border2: #4572EE;
		--block-shadow: none;
		--text: #fff;
		--border: #272C37;
		--bg-blue: #181b1d;
		--disabled: #666666;
		--bg-disabled: #181b1d;
		--input-border: #272C37;
		--link-border: #858585;
		--bg-tabs: rgba(49, 96, 225, 0.4);
		--bg-tabs-active: var(--blue);
		--tabs-active: var(--white);
		--bg-violet: #EAE7FF;
}
html, body {
		height: 100%;
		box-sizing: border-box;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased;
}
body {
		margin: 0;
		padding: 0;
		-webkit-text-size-adjust: none;
		display: flex;
		flex-direction: column;
		font-family: var(--font);
		font-weight: normal;
}
body > * {
		flex: 1 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
}
*, *:before, *:after {
		box-sizing: border-box;
}
form, fieldset {
		margin: 0;
		padding: 0;
		border: 0;
}
textarea {
		resize: none;
}
header, nav, section, article, aside, footer, menu, time, figure, figcaption, main {
		display: block;
}
img, svg, picture {
		border: 0;
		vertical-align: top;
}
a {
		cursor: pointer;
		outline: none;
}
strong {
		font-weight: bold;
}
p, ol, ul, li {
		margin: 0;
		padding: 0;
}
ol, ul, li {
		list-style: none;
}
li:before, li:after {
		display: none;
}
sup {
		vertical-align: top;
		font-size: 80%;
		line-height: 1;
}
.container {
		padding: 0 20px;
		flex: 0 0 auto;
		margin: 0 auto;
		position: relative;
		max-width: 1440px;
		width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
		.container {
				padding: 0 30px;
		}
}
@media only screen and (min-width: 1280px) {
		.container {
				padding: 0 40px;
		}
}
.mainwrap {
		flex: 1 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		color: var(--text);
		background: var(--bg);
}
.content {
		flex: 1 0 auto;
		order: 2;
}
@media only screen and (max-width: 767px) {
		.content {
				padding-bottom: 30px;
		}
}
@media only screen and (min-width: 768px) {
		.content {
				padding-bottom: 90px;
		}
}
.pro-label {
		flex: 0 0 auto;
		font-size: 8px;
		line-height: 16px;
		height: 16px;
		font-weight: 500;
		color: var(--white);
		background: var(--red);
		padding: 0 6px;
		margin: -1px 0;
		border-radius: 4px;
}