@charset "UTF-8";

.btn {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 12px 23px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background: var(--blue);
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--blue);
  outline: none;
  box-shadow: none;
  gap: 0 4px;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn svg {
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  margin: -2px 0;
  transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  fill: var(--white);
}

@media (pointer: fine) {
  .btn:hover {
    opacity: 0.7;
  }
}

.btn--secondary {
  border-color: var(--link-border);
  background-color: transparent;
  color: var(--text);
}

.btn--white {
  background-color: var(--white);
  color: var(--blue);
}

.btn--red {
  background-color: #e02423;
  border-color: #e02423;
}

.btn--yellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.btn--disabled,
.btn:disabled {
  color: var(--white);
  background: var(--blue-disabled);
  pointer-events: none;
  cursor: default;
  border-color: transparent;
}
