@charset "UTF-8";
.chart {
		background: var(--block-bg);
		box-shadow: var(--block-shadow);
		position: relative;
		border-radius: 10px;
}
.chart--hidden {
		display: none;
}
@media only screen and (max-width: 767px) {
		.chart {
				padding: 12px 10px;
		}
}
@media only screen and (min-width: 768px) {
		.chart {
				padding: 20px;
		}
		.tabs ~ .chart {
				border-top-left-radius: 0;
		}
}
.chart--locked {
		min-height: 500px;
}
.chart__head {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
}
@media only screen and (max-width: 767px) {
		.chart__head {
				margin-bottom: 12px;
				margin-right: -5px;
				padding-right: 30px;
				gap: 6px 10px;
		}
}
@media only screen and (min-width: 768px) {
		.chart__head {
				margin-bottom: 24px;
				padding-right: 50px;
				min-height: 40px;
				gap: 10px;
		}
}
.chart__head-title {
		font-weight: 600;
}
@media only screen and (max-width: 767px) {
		.chart__head-title {
				font-size: 11px;
				line-height: 14px;
		}
}
@media only screen and (min-width: 768px) {
		.chart__head-title {
				font-size: 16px;
				line-height: 20px;
				padding-right: 20px;
		}
}
.chart__head-filters {
		flex: 1 1 auto;
		max-width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
		.chart__head-filters {
				gap: 6px;
		}
}
@media only screen and (min-width: 768px) {
		.chart__head-filters {
				gap: 10px;
				flex: 1 1 auto;
		}
}
@media only screen and (max-width: 1023px) {
		.chart__head-time {
				display: none;
		}
}
@media only screen and (min-width: 1024px) {
		.chart__head-time {
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				color: var(--grey);
		}
}
.chart__head-btn img {
		flex: 0 0 auto;
		width: auto;
		height: auto;
		position: relative;
		margin-top: -4px;
		margin-bottom: -4px;
}
@media only screen and (max-width: 767px) {
		.chart__head-btn {
				width: 20px;
				height: 20px;
				padding: 0;
				border-radius: 5px;
		}
		.chart__head-btn span {
				display: none;
		}
		.chart__head-btn img {
				max-height: 10px;
		}
}
@media only screen and (min-width: 767px) {
		.chart__head-btn img {
				max-height: 20px;
				margin-left: -15px;
				margin-right: 4px;
		}
}
.chart__settings-opener {
		flex: 0 0 auto;
		margin-left: auto;
		cursor: pointer;
		user-select: none;
		position: absolute;
		top: 0;
		right: 0;
		background: var(--blue);
		border-radius: 10px;
		width: 40px;
		height: 40px;
		z-index: 96;
		transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (max-width: 767px) {
		.chart__settings-opener {
				margin-top: -10px;
				margin-bottom: -10px;
				margin-right: -5px;
				transform: scale(0.5);
		}
}
@media (pointer:fine) {
		.chart__settings-opener:hover {
				opacity: 0.7;
		}
}
.chart__settings-opener svg {
		width: 20px;
		height: 20px;
		fill: var(--white);
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -10px;
		transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.chart__settings-opener--active svg {
		opacity: 0;
}
.chart__settings-opener:before, .chart__settings-opener:after {
		content: '';
		position: absolute;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: var(--white);
		top: 50%;
		left: 50%;
		transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		opacity: 0;
}
.chart__settings-opener:before {
		transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.chart__settings-opener:after {
		transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.chart__settings-opener--active:before, .chart__settings-opener--active:after {
		opacity: 1;
}
.chart__settings-dropdown {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 10px;
		background: var(--block-bg);
		box-shadow: var(--block-shadow);
		width: 100%;
		max-width: 435px;
		z-index: 95;
		display: flex;
		flex-direction: column;
		transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		opacity: 0;
		pointer-events: none;
}
@media only screen and (max-width: 767px) {
		.chart__settings-dropdown {
				padding: 13px 10px;
		}
}
@media only screen and (min-width: 768px) {
		.chart__settings-dropdown {
				padding: 30px;
		}
}
.chart__settings-dropdown--active {
		opacity: 1;
		pointer-events: all;
}
.chart__settings-title {
		font-weight: 600;
		flex: 0 0 auto;
		width: 100%;
}
@media only screen and (max-width: 767px) {
		.chart__settings-title {
				font-size: 11px;
				line-height: 14px;
				margin: 0 0 20px 0;
		}
}
@media only screen and (min-width: 768px) {
		.chart__settings-title {
				font-size: 16px;
				line-height: 20px;
				margin: 0 0 34px 0;
		}
}
.chart__settings-checks {
		flex: 0 0 auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-weight: normal;
		line-height: 14px;
}
@media only screen and (max-width: 767px) {
		.chart__settings-checks {
				gap: 10px 0;
				font-size: 11px;
		}
}
@media only screen and (min-width: 768px) {
		.chart__settings-checks {
				gap: 21px 0;
				font-size: 12px;
		}
}
.chart__settings-checks label {
		flex: 0 0 auto;
		width: 50%;
		position: relative;
		cursor: pointer;
		user-select: none;
		display: flex;
		align-items: center;
		gap: 0 5px;
}
.chart__settings-checks input {
		position: absolute;
		visibility: hidden;
		opacity: 0;
}
.chart__settings-checks .checkbox {
		margin: -3px 5px -3px 0;
}
@media only screen and (max-width: 767px) {
		.chart__settings-checks .checkbox {
				transform: scale(0.75);
				margin-right: -4px;
				transform-origin: 0 50%;
		}
}
.chart__settings-line {
		flex: 0 0 auto;
		width: 10px;
		border-style: solid;
		border-width: 1.5px 0 0 0;
}
@media only screen and (max-width: 767px) {
		.chart__settings-line {
				border-top-width: 1px;
		}
}