.chart {
  position: relative;
  overflow: hidden;
  background: var(--block-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
}

.chart--hidden {
  display: none;
}

@media only screen and (max-width: 767px) {
  .chart {
    padding: 12px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .chart {
    padding: 20px;
  }

  .tabs ~ .chart {
    border-top-left-radius: 0;
  }
}

.chart--locked {
  min-height: 500px;
}

.chart__undertext {
  margin-top: 8px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 12px;
  color: var(--grey);
}

@media only screen and (max-width: 767px) {
  .chart__undertext {
    margin-left: 10px;
    font-size: 10px;
    line-height: 1;
  }
}

.chart__head {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media only screen and (max-width: 767px) {
  .chart__head {
    justify-content: flex-end;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .chart__head {
    margin-bottom: 20px;
    gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .chart__head {
    gap: 10px 20px;
  }
}

.chart__head-title {
  font-weight: 600;
  order: 1;
}

@media only screen and (max-width: 767px) {
  .chart__head-title {
    display: none;
    width: calc(100% - 192px);
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .chart__head-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1023px) {
  .chart__head-title {
    flex: 0 0 auto;
    line-height: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .chart__head-title {
    min-width: 124px;
    line-height: 1;
  }
}

.chart__head-filters {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  order: 2;
}

.chart__head-filters > * {
  min-width: 0;
}

@media only screen and (max-width: 767px) {
  .chart__head-filters {
    width: 186px;
    margin-right: auto;
    gap: 6px;
  }

  .chart__head-filters > *:nth-child(1) {
    width: 102px;
  }

  .chart__head-filters > *:nth-child(2) {
    width: 78px;
  }
}

@media only screen and (min-width: 768px) {
  .chart__head-filters {
    gap: 10px;
    width: 252px;
    margin-right: auto;
  }

  .chart__head-filters > * {
    flex: 1;
  }
}

.chart__head-time {
  font-weight: 500;
  color: var(--grey);
  order: 3;
}

@media only screen and (max-width: 767px) {
  .chart__head-time {
    flex: 0 0 auto;
    width: calc(100% - 72px);
    font-size: 10px;
    line-height: 1;
  }

  .chart__testing ~ .chart__head-time {
    width: calc(100% - 192px);
  }
}

@media only screen and (min-width: 768px) {
  .chart__head-time {
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  .chart__head-time {
    font-size: 10px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .chart__head-time {
    font-size: 12px;
    line-height: 1.46;
  }
}

.chart__head-btn {
  order: 5;
}

.chart__head-btn img {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin-top: -4px;
  margin-bottom: -4px;
}

@media only screen and (max-width: 1279px) {
  .chart__head-btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 10px;
  }

  .chart__head-btn span {
    display: none;
  }

  .chart__head-btn img {
    max-height: 16px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .chart__head-btn {
    width: 40px;
    height: 40px;
  }

  .chart__head-btn img {
    max-height: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .chart__head-btn {
    height: 40px;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 10px;
    gap: 15px;
  }

  .chart__head-btn img {
    max-height: 24px;
    margin: 0 -7px;
  }
}

.chart__settings-opener {
  position: relative;
  z-index: 89;
  flex: 0 0 auto;
  background: var(--blue);
  border-radius: 10px;
  transform: translate3d(0, 0, 0);
  order: 6;
  cursor: pointer;
  user-select: none;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.chart__settings-opener--active {
  z-index: 96;
}

@media only screen and (max-width: 768px) {
  .chart__settings-opener--active {
    transform: translate3d(0, -30px, 0);
  }
}

@media only screen and (max-width: 1023px) {
  .chart__settings-opener {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .chart__settings-opener {
    width: 40px;
    height: 40px;
    margin-left: -10px;
  }
}

@media (pointer: fine) {
  .chart__settings-opener:hover {
    opacity: 0.7;
  }
}

.chart__settings-opener svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  fill: var(--white);
}

@media only screen and (max-width: 1023px) {
  .chart__settings-opener svg {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .chart__settings-opener svg {
    width: 20px;
    height: 20px;
  }
}

.chart__settings-opener--active svg {
  opacity: 0;
}

.chart__settings-opener::before,
.chart__settings-opener::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 22px;
  height: 2px;
  background: var(--white);
  border-radius: 1px;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.chart__settings-opener::before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.chart__settings-opener::after {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.chart__settings-opener--active::before,
.chart__settings-opener--active::after {
  opacity: 1;
}

.chart__settings-dropdown {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 95;
  flex-direction: column;
  width: 100%;
  max-width: 435px;
  background: var(--block-bg);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: var(--block-shadow);
}

@media only screen and (max-width: 767px) {
  .chart__settings-dropdown {
    padding: 13px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .chart__settings-dropdown {
    padding: 30px;
  }
}

.chart__settings-dropdown--active {
  opacity: 1;
  pointer-events: all;
}

.chart__settings-title {
  flex: 0 0 auto;
  width: 100%;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .chart__settings-title {
    margin: 0 0 20px;
    font-size: 11px;
    line-height: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .chart__settings-title {
    margin: 0 0 34px;
    font-size: 16px;
    line-height: 20px;
  }
}

.chart__settings-checks {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  font-weight: normal;
  line-height: 14px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .chart__settings-checks {
    gap: 10px 0;
    font-size: 11px;
  }
}

@media only screen and (min-width: 768px) {
  .chart__settings-checks {
    gap: 21px 0;
    font-size: 12px;
  }
}

.chart__settings-checks label {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: 50%;
  cursor: pointer;
  user-select: none;
  gap: 0 5px;
}

.chart__settings-checks input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.chart__settings-checks .checkbox {
  margin: -3px 5px -3px 0;
}

@media only screen and (max-width: 767px) {
  .chart__settings-checks .checkbox {
    margin-right: -4px;
    transform: scale(0.75);
    transform-origin: 0 50%;
  }
}

.chart__settings-line {
  flex: 0 0 auto;
  width: 10px;
  border-style: solid;
  border-width: 3px 0 0;
}

.chart__settings-circle {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .chart__settings-line {
    border-width: 3px 0 0;
  }
}

.chart__testing {
  flex: 0 0 auto;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: var(--white);
  background: var(--pro);
  border-radius: 10px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .chart__testing {
    padding: 4px 5px;
    font-size: 7px;
    border-radius: 5px;
  }

  .chart__testing br {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .chart__testing {
    order: 4;
  }
}

.chart-graph-block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 98;
  height: calc(100% - 40px);
  min-width: 220px;
  color: var(--text);
  background: rgb(36 45 58 / 90%);
  border-radius: 5px;
  opacity: 1;
  pointer-events: none;
  backface-visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

.chart-graph-block__content {
  pointer-events: all;
}

@media only screen and (max-height: 440px) {
  .chart-graph-block__content {
    gap: 10px 0 !important;
  }
}

@media only screen and (max-width: 576px) {
  .chart-graph-block {
    min-width: 130px;
  }

  .chart-graph-block .btn {
    padding: 8px;
  }

  .chart-graph-block__content svg {
    display: none;
  }

  .chart-graph-block__content * {
    font-size: 10px;
  }
}
