@charset "UTF-8";

.checkbox {
  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.checkbox::before {
  position: absolute;
  content: '';
  inset: 0;
  margin: 2px;
  background: var(--blue);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

input:checked ~ .checkbox::before {
  opacity: 1;
}
