@charset "UTF-8";

body {
  background: var(--black);
}

.empty {
  --bg: var(--black);
  --text: var(--white);
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  color: var(--text);
  background: var(--bg);
  gap: 30px 0;
}

.container--empty {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 30px 0;
}

.empty__text {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

.empty__title {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
}

.empty__btn {
  width: 100%;
  height: 44px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 22px;
}

@media only screen and (width >= 768px) {
  .container--empty {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px 0;
  }

  .empty__title {
    margin-bottom: 50px;
    font-size: 32px;
  }

  .empty__btn {
    width: auto;
    height: 66px;
    min-width: 307px;
    font-size: 18px;
    border-radius: 33px;
  }
}

@media only screen and (width <= 1023px) {
  .empty__image {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (width >= 1024px) {
  .container--empty {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .empty__image {
    position: relative;
    flex: 1;
    max-width: 701px;
    pointer-events: none;
    align-self: stretch;
  }

  .empty__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 701px;
    height: auto;
    transform: translate3d(-55%, -54%, 0);
    object-fit: contain;
    object-position: center;
  }
}
