

.fader {
  position: absolute;
  inset: 0;
  z-index: 99;
  background: rgb(69 114 238 / 10%);
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
  backface-visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  backdrop-filter: blur(10px);
}

.fader--active {
  opacity: 1;
  pointer-events: all;
}

.fader--size-big {
  min-height: calc(100vh - 260px);
}

@media only screen and (max-width: 768px) {
  .fader--size-big {
    min-height: 200px;
  }
}

.fader--chart {
  z-index: 94;
}

.fader__text {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 252px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  transform: translate3d(-50%, -50%, 0);
  gap: 18px 0;
}

@media only screen and (min-width: 768px) {
  .fader__text--big {
    max-width: 288px;
    font-size: 16px;
    gap: 22px 0;
  }

  .fader__text--big .btn {
    min-width: 207px;
  }
}

.fader__text svg {
  flex: 0 0 auto;
  width: auto;
  height: 32px;
  fill: var(--text);
}
