@charset "UTF-8";
@font-face {
		font-family: 'Gilroy';
		src: url('../fonts/gilroy_regular.woff2') format('woff2'), url('../fonts/gilroy_regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
}
@font-face {
		font-family: 'Gilroy';
		src: url('../fonts/gilroy_medium.woff2') format('woff2'), url('../fonts/gilroy_medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
}
@font-face {
		font-family: 'Gilroy';
		src: url('../fonts/gilroy_semibold.woff2') format('woff2'), url('../fonts/gilroy_semibold.woff') format('woff'), url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
}