

.header {
  position: relative;
  z-index: 100;
  flex: 0 0 auto;
  width: 100%;
  height: 64px;
  order: 1;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0 30px;
}

.header__logo {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  gap: 0 13px;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .header__logo {
    margin-right: 32px;
  }
}

.header__logo svg:nth-child(1) {
  width: auto;
  height: 32px;
  fill: var(--blue);
}

.header__logo svg:nth-child(2) {
  width: auto;
  height: 25px;
  fill: var(--text);
}

@media only screen and (max-width: 767px) {
  .header__menu-opener {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: 101;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 64px;
    gap: 5px 0;
    cursor: pointer;
    user-select: none;
  }

  .header__menu-opener::before,
  .header__menu-opener::after {
    content: '';
    transition-property: transform, width, margin;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__menu-opener > div {
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__menu-opener::before,
  .header__menu-opener::after,
  .header__menu-opener > div {
    flex: 0 0 auto;
    width: 22px;
    height: 2px;
    background: var(--text);
    border-radius: 1px;
    transform: translate3d(0, 0, 0) rotate(0deg);
    backface-visibility: hidden;
  }

  .header__menu-opener::after {
    width: 16px;
    margin-left: 6px;
  }

  .header__menu-opener--active {
    position: fixed;
  }

  .header__menu-opener--active > * {
    opacity: 0;
  }

  .header__menu-opener--active::before {
    transform: translate3d(0, 7px, 0) rotate(-135deg);
  }

  .header__menu-opener--active::after {
    width: 22px;
    margin-left: 0;
    transform: translate3d(0, -7px, 0) rotate(135deg);
  }
}

@media only screen and (min-width: 768px) {
  .header__menu-opener {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header__menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 149px 0 0;
    background: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow-y: auto;
  }

  .header__menu--active {
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    gap: 0 19px;
  }
}

@media only screen and (min-width: 1280px) {
  .header__menu {
    flex: 1 1 auto;
  }
}

.header__links {
  display: flex;
}

@media only screen and (max-width: 1279px) {
  .header__links {
    flex-direction: column;
  }

  .header__links--desktop {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .header__links {
    flex: 1 1 auto;
    align-items: center;
    gap: 0 24px;
  }

  .header__links--mobile {
    display: none;
  }
}

.header__links-link {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  font-weight: normal;
  line-height: 1.46;
  text-align: left;
  text-decoration: none;
  color: var(--text);
  gap: 0 8px;
}

.header__links-link svg {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  fill: var(--grey2);
}

@media (pointer: fine) {
  .header__links-link:hover {
    color: var(--blue);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__links-link:hover svg {
    fill: var(--blue);
    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@media only screen and (max-width: 767px) {
  .header__links-link:first-child {
    border-top-width: 1px;
  }
}

@media only screen and (max-width: 1279px) {
  .header__links-link {
    width: 100%;
    padding: 11px 13px 11px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .header__links-link {
    font-size: 12px;
  }
}

.header__links-link.active {
  color: var(--blue);
}

.header__links-link.active svg {
  fill: var(--blue);
}

.header__links-link--disabled {
  color: var(--disabled);
  pointer-events: none;
  cursor: default;
}

.header__links-link--disabled svg {
  fill: var(--disabled);
}

@media only screen and (max-width: 767px) {
  .header__lang {
    position: absolute;
    top: 15px;
    left: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .header__lang {
    position: relative;
    flex: 0 0 auto;
  }
}

.header__lang-opener {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  padding: 0 20px 0 0;
  background: var(--block-bg2);
  border: 1px solid var(--blue);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.header__lang-opener img {
  width: auto;
  height: 20px;
}

.header__lang-opener svg {
  position: absolute;
  top: 50%;
  right: 6px;
  width: 18px;
  height: 18px;
  margin: -9px 0;
  transform: rotate(0deg);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  fill: var(--blue);
}

.header__lang-opener--active {
  background: var(--blue);
}

.header__lang-opener--active svg {
  fill: var(--white);
  transform: rotate(-180deg);
}

.header__lang-dropdown {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  z-index: 110;
  flex-direction: column;
  width: 40px;
  margin: 10px 0;
  text-align: center;
  background: var(--block-bg);
  border-radius: 10px;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  pointer-events: none;
  box-shadow: var(--block-shadow);
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__lang-dropdown--active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}

.header__lang-dropdown > * {
  display: block;
  padding: 10px 0;
}

.header__lang-dropdown img {
  width: auto;
  height: 20px;
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  .header__user {
    position: relative;
    flex: 0 0 auto;
    width: 267px;
  }
}

.header__user-head {
  display: flex;
  align-items: center;
  background: var(--block-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
  gap: 0 14px;
}

@media only screen and (max-width: 767px) {
  .header__user-head {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
  }
}

.header__user-icon {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-height: 60px;
  background: var(--blue);
  border-radius: 10px;
  align-self: stretch;
}

.header__user-icon svg {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  fill: var(--white);
}

.header__user-info {
  flex: 1;
  padding: 7px 0;
}

.header__user-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  gap: 0 5px;
}

.header__user-name img {
  flex: 0 0 auto;
  width: auto;
  height: 12px;
}

.header__user-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.header__user-time {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey);
}

.header__user-time strong {
  font-weight: inherit;
  color: var(--green);
}

@media only screen and (max-width: 767px) {
  .header__user-opener {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header__user-opener {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    cursor: pointer;
    user-select: none;
    align-self: stretch;
    gap: 2.5px;
  }

  .header__user-opener > * {
    flex: 0 0 auto;
    width: 3.5px;
    height: 3.5px;
    background: var(--text);
    border-radius: 3px;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  @media (pointer: fine) {
    .header__user-opener:hover > * {
      transition-property: opacity, background;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: var(--blue);
    }
  }

  .header__user-opener--active > * {
    opacity: 0;
  }

  .header__user-opener::before,
  .header__user-opener::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    background: var(--text);
    border-radius: 1px;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  @media (pointer: fine) {
    .header__user-opener:hover::before,
    .header__user-opener:hover::after {
      transition-property: transform, opacity, background;
      background-color: var(--blue);
    }
  }

  .header__user-opener::before {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  .header__user-opener--active::before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }

  .header__user-opener::after {
    transform: translate3d(-50%, -50%, 0);
  }

  .header__user-opener--active::after {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }
}

@media only screen and (min-width: 768px) {
  .header__user-dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 10px 0 0;
    padding: 9px 0 0;
    background: var(--block-bg);
    border-radius: 10px;
    opacity: 0;
    transform: translate3d(0, 10px, 0);
    pointer-events: none;
    box-shadow: var(--block-shadow);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__user-dropdown--active {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    pointer-events: all;
  }
}

.header__user-links {
  display: flex;
  flex-direction: column;
}

.header__user-link {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: 100%;
  padding: 11px 13px 11px 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.46;
  text-decoration: none;
  color: var(--text);
  gap: 0 8px;
}

@media only screen and (max-width: 1279px) {
  .header__user-link--instruction {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header__user-link .pro-label {
    margin-left: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .header__user-link .pro-label {
    margin-left: auto;
  }
}

.header__user-link svg {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  fill: var(--grey2);
  color: var(--grey2);
}

.header__user-link .svg-icon{
  font-size: 20px;
}

@media (pointer: fine) {
  .header__user-link:hover {
    color: var(--blue);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .header__user-link:hover svg {
    fill: var(--blue);
    transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.header__user-link--disabled {
  color: var(--disabled);
  pointer-events: none;
  cursor: default;
}

.header__user-link--disabled svg {
  fill: var(--disabled);
}

.header__user-soc {
  display: flex;
  align-items: center;
  margin: 12px 0 0;
  padding: 17px 20px;
  flex-wrap: wrap;
  gap: 10px;
  border-style: solid;
  border-width: 1px 0;
  border-color: var(--menu-soc-border);
}

.header__user-soc.center {
  justify-content: center;
}

.header__user-soc > * {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--menu-soc-bg);
  border-radius: 50%;
}

@media (pointer: fine) {
  .header__user-soc > a:hover {
    border-color: var(--blue);
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.header__user-soc img {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.header__user-theme-trigger {
  position: relative;
  flex: 0 0 auto;
  width: 64px;
  height: 32px;
  border: 1px solid var(--menu-theme-border);
  border-radius: 16px;
  background-color: var(--menu-theme-bg);
  background-image: url('@/assets/images/theme-icons/sun.svg'),
    url('@/assets/images/theme-icons/moon.svg');
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position: 7px 50%, calc(100% - 7px) 50%;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  .header__user-theme-trigger {
    position: absolute;
    top: 20px;
    left: 94px;
  }
}

@media only screen and (min-width: 768px) {
  .header__user-theme-trigger {
    float: right;
    margin: -49px 13px 0 0;
  }
}

.header__user-theme-trigger::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: 3px;
  background: var(--blue);
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.themeLight .header__user-theme-trigger::before {
  transform: translate3d(0, 0, 0);
}

.themeDark .header__user-theme-trigger::before {
  transform: translate3d(32px, 0, 0);
}

.header__user-minis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.46;
  color: var(--menu-minis);
  gap: 9px 0;
  clear: both;
}

.header__user-minis a {
  text-decoration: none;
  color: inherit;
}

@media (pointer: fine) {
  .header__user-minis a:hover {
    text-decoration: underline;
  }
}
