

@media only screen and (width >= 768px) {
  .investing {
    position: relative;
    padding: 20px;
    background: var(--block-bg);
    border-radius: 10px;
    box-shadow: var(--block-shadow);
  }
}

@media only screen and (width >= 768px) {
  .investing:not(.investing--active) {
    display: none;
  }
}

.investing--hidden {
  display: none;
}

.investing__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.investing__block {
  position: relative;
  min-height: 265px;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  background: var(--block-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
}

@media only screen and (width >= 768px) {
  .investing__block {
    background: var(--block-bg2);
  }
}

.investing__name {
  display: flex;
  align-items: center;
  min-height: 25px;
  margin: 0 0 14px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  gap: 0 10px;
}

.investing__name img {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  margin-right: -3px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.investing__name strong {
  font-weight: 500;
  color: var(--investing-name);
}

.investing__name-type {
  flex: 0 0 auto;
  height: 25px;
  min-width: 50px;
  margin-left: auto;
  padding: 0 6px;
  font-weight: 500;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  border-radius: 10px;
}

.investing__name-type--red {
  background: var(--red);
}

.investing__name-type--green {
  background: var(--green);
}

.investing__block--order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.investing__block--order .btn {
  width: 100%;
  max-width: 207px;
}

.investing__info {
  display: flex;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.investing__info li {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: var(--grey);
  background: var(--bg-blue);
  border-radius: 10px;
  list-style: none;
  box-shadow: 0 2px 20px rgb(9 5 183 / 6%);
}

.investing__info strong {
  display: block;
  margin: 2px 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: var(--text);
}
