@charset "UTF-8";

.content--loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-block {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.46;
  text-align: center;
  color: var(--dark-grey);
}

.loading-block__pic {
  width: 70px;
  height: 70px;
  margin: 0 auto 16px;
}

.loading-block__big {
  margin: 0 0 8px;
  font-weight: bold;
  font-size: 22px;
  color: var(--text);
}
