

.modal__block--video {
  max-width: 800px;
}

.video {
  position: relative;
}

.video::before {
  content: '';
  display: block;
  padding-top: 56.25%;
  pointer-events: none;
}

.video video,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .modal__block--video {
    padding: 20px 10px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__block {
    padding: 30px 20px 20px;
  }
}
