@charset "UTF-8";

.withdraw__row {
  margin: 20px 0;
}

.withdraw__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 0;
}

.btn--withdraw {
  min-width: 207px;
}
