

.fader--modal {
  position: fixed;
  z-index: 1;
}

.container--modal {
  position: static;
  margin: auto;
}

.modal {
  position: fixed;
  overflow: hidden;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow-y: auto;
}

.modal--active {
  opacity: 1;
  pointer-events: all;
}

.modal__block {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 402px;
  margin: 40px auto;
  text-align: center;
  background: var(--block-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
}

.modal__form .login__input:not(:first-child) {
  margin-top: 16px;
}

@media only screen and (max-width: 767px) {
  .modal__block {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__block {
    padding: 52px 38px;
  }
}

.modal__title {
  margin: 0 0 18px;
  font-weight: 600;
  line-height: 1.3;
}

@media only screen and (max-width: 767px) {
  .modal__title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__title {
    font-size: 18px;
  }
}

.modal__text {
  font-weight: normal;
  line-height: 1.3;
}

@media only screen and (max-width: 767px) {
  .modal__text {
    font-size: 14px;
  }

  .modal__text-padding {
    padding: 20px 0 8px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__text {
    font-size: 16px;
  }
}

.modal__btns {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 0;
  gap: 10px 0;
}

.modal__btns > * {
  flex: 0 0 auto;
  width: calc(50% - 10px);
}

.modal__btns > *:only-child {
  margin: auto;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--blue);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .modal__close {
    top: 10px;
    right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__close {
    top: 20px;
    right: 20px;
  }
}

.modal__close::before,
.modal__close::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1.5px;
  background: var(--white);
  border-radius: 0.75px;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal__close::before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.modal__close::after {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

@media (pointer: fine) {
  .modal__close:hover {
    opacity: 0.7;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.modal__block--text {
  max-width: 1056px;
  padding: 20px;
  text-align: left;
}

.modal__block--text .modal__text {
  font-size: 14px;
  line-height: 1.4;
}

.modal__block--text .modal__text > *:first-child {
  margin-top: 0 !important;
}

.modal__block--text .modal__text > *:last-child {
  margin-bottom: 0 !important;
}

.modal__block--text h1,
.modal__block--text .h1,
.modal__block--text h2,
.modal__block--text .h2,
.modal__block--text h3,
.modal__block--text .h3,
.modal__block--text h4,
.modal__block--text .h4,
.modal__block--text h5,
.modal__block--text .h5,
.modal__block--text h6,
.modal__block--text .h6 {
  display: block;
  margin: 20px 0 10px;
  font: inherit;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .modal__block--text h1,
  .modal__block--text .h1 {
    font-size: 18px;
  }

  .modal__block--text h2,
  .modal__block--text .h2 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .modal__block--text h1,
  .modal__block--text .h1 {
    font-size: 20px;
  }

  .modal__block--text h2,
  .modal__block--text .h2 {
    font-size: 18px;
  }
}

.modal__block--text h3,
.modal__block--text .h3 {
  font-size: 15px;
}

.modal__block--text a:not(.btn) {
  font-weight: 500;
  text-decoration: none;
  color: var(--blue);
}

.modal__block--text p,
.modal__block--text ol,
.modal__block--text ul {
  margin: 10px 0;
}

.modal__block--text li {
  position: relative;
  margin: 10px 0;
  padding: 0 0 0 1.25em;
}

.modal__block--text ul > li::before {
  position: absolute;
  content: '';
  display: block;
  top: 0.7em;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--text);
  border-radius: 50%;
  transform: translate3d(0, -50%, 0);
}

.modal__block--text ul ul > li::before {
  width: 6px;
  height: 6px;
  margin: -3px 0;
  background: none;
  border: 1px solid var(--text);
}

.modal__block--text ul ul > li {
  margin: 5px 0;
}

.modal__block--text ol {
  counter-reset: li;
}

.modal__block--text ol > li::before {
  position: relative;
  content: counters(li, '.') '. ';
  display: inline-block;
  min-width: 1.25em;
  margin: 0 0 0 -1.25em;
  padding: 0 0.25em 0 0;
  counter-increment: li;
  vertical-align: top;
}

.modal__block--text ol ol > li {
  padding-left: 2em;
}

.modal__block--text ol ol > li::before {
  min-width: 2em;
  margin-left: -2em;
}

.modal__block--text .modal__btns > * {
  width: auto;
  min-width: 170px;
}

.que-form{margin-top: 16px;}