

.recommend {
  position: relative;
  background: var(--block-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
}

@media only screen and (max-width: 767px) {
  .recommend:not(:first-child) {
    margin-top: 20px;
  }

  .recommend {
    padding: 10px 10px 20px;
  }

}

@media only screen and (min-width: 768px) {
  .recommend {
    padding: 26px 20px 20px;
  }

  .recommend:not(.recommend--active) {
    display: none;
  }
}

.recommend--locked {
  min-height: 500px;
}

.recommend__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .recommend__head {
    gap: 6px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__head {
    gap: 10px 20px;
    margin-bottom: 30px;
  }
}

.recommend__title {
  flex: 0 0 auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
}

@media only screen and (max-width: 767px) {
  .recommend__title {
    order: 1;
    width: calc(100% - 138px);
  }
}

@media only screen and (min-width: 768px) {
  .recommend__title {
    display: none;
  }
}

.recommend__head .select {
  flex: 0 0 auto;
}

@media only screen and (max-width: 767px) {
  .recommend__head .select {
    order: 2;
    width: 102px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__head .select {
    order: 4;
    width: 121px;
    margin-left: -10px;
  }
}

.recommend__title-winrate {
  width: 99px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  background: var(--green);
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .recommend__title-winrate {
    font-size: 8px;
    order: 5;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__title-winrate {
    font-size: 10px;
    order: 2;
  }
}

.recommend__title-winrate strong {
  font-weight: 600;
}

.recommend__calc {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  font-weight: 600;
  line-height: 14px;
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  .recommend__calc {
    width: calc(100% - 105px);
    order: 4;
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__calc {
    order: 1;
    font-size: 14px;
  }
}

.recommend__calc-input {
  position: relative;
  flex: 0 0 auto;
  width: 92px;
}

.recommend__calc-input input {
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 4px 24px 4px 9px;
  text-align: left;
  color: var(--text);
  background: var(--block-bg2);
  border: 1px solid var(--block-border2);
  border-radius: 10px;
  font: normal 10px/14px var(--font);
  appearance: none;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .recommend__calc-input input {
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__calc-input input {
    font-size: 10px;
  }
}


.recommend__calc-input input::placeholder {
  color: var(--grey2);
  opacity: 1;
}

.recommend__calc-input input:focus::placeholder {
  opacity: 0 !important;
}

.btn--recommend-calc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24px;
  padding: 0;
  border-radius: 10px;
}

.btn--recommend-calc svg {
  width: 12px;
  height: 12px;
}

.recommend__head-btn-empty,
.recommend__head-btn {
  margin-left: auto;
}

@media only screen and (max-width: 767px) {
  .recommend__head-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 8px;
    order: 3;
  }

  .recommend__head-btn svg {
    max-width: 13px;
    max-height: 13px;
  }

  .recommend__head-btn span {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__head-btn-empty {
    order: 3;
  }

  .recommend__head-btn {
    height: 24px;
    margin-left: auto;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 10px;
    order: 3;
    gap: 5px;
  }

  .recommend__head-btn svg {
    max-width: 14px;
    max-height: 14px;
  }
}

.recommend__table {
  overflow: auto;
  font-size: 10px;
  line-height: 14px;
}

@media only screen and (max-width: 767px) {
  .recommend__table {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__table {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .recommend__table {
    font-size: 12px;
  }
}

.recommend__table table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  outline: none;
  border-style: solid;
  border-color: var(--block-bg);
  border-width: 0;
}

@media only screen and (max-width: 767px) {
  .recommend__table table {
    border-width: 0 10px 0 0;
    min-width: 716px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__table table {
    border-width: 0 20px 0 0;
    min-width: 100%;
  }
}

.recommend__table th {
  padding: 0 10px 0 0;
  font-weight: 500;
  text-align: left;
  color: var(--text);
  border: 0;
  vertical-align: top;
}

.recommend__table th:last-child {
  padding-right: 0;
}

@media only screen and (max-width: 767px) {
  .recommend__table th {
    padding-bottom: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__table th {
    padding-bottom: 16px;
  }
}

.recommend__table td {
  padding: 8px 10px 8px 0;
  font-weight: 500;
  text-align: left;
  border: 0;
  vertical-align: top;
  border-style: dashed;
  border-color: var(--border);
  border-width: 0;
}

.recommend__table tr:not(:first-child) td {
  border-top-width: 1px;
}

.recommend__table td:last-child {
  padding-right: 0;
}

.recommend__table img {
  width: 24px;
  width: auto;
  height: 24px;
  margin: 4px 0;
  border-radius: 50%;
  vertical-align: top;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 767px) {
  .recommend__hide-mobile {
    display: none;
  }
}

.recommend__table-nowrap {
  white-space: nowrap;
}

.recommend__table-light {
  font-weight: normal !important;
}

.recommend__table-center {
  text-align: center !important;
}

.recommend__table-min {
  width: 1px;
  white-space: nowrap;
}

.recommend__table-grey {
  color: var(--grey);
}

.recommend__table-green {
  color: var(--green);
}

.recommend__table-red {
  color: var(--red);
}

.recommend__table-yellow {
  color: var(--yellow);
}

.recommend__table-date {
  width: 10.5%;
}

.recommend__table-type {
  width: 10%;
}

.recommend__table-status {
  width: 20%;
}

.recommend__table-price {
  width: 13%;
}

.recommend__table-stop {
  width: 12%;
}

.recommend__table-risk {
  width: 10%;
}

.recommend__empty-text {
  margin: 30px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.recommend__table-pricelist {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  .recommend__table-pricelist {
    gap: 3px;
  }
}

.recommend__table-pricelist li {
  position: relative;
  margin: 0;
  padding: 0 0 0 40px;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .recommend__table-pricelist li {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__table-pricelist li {
    padding-left: 40px;
  }
}

.recommend__table-pstatus {
  position: absolute;
  top: 50%;
  left: 0;
  font-weight: normal;
  text-align: center;
  color: var(--white);
  border-radius: 4px;
  transform: translate3d(0, -50%, 0);
  box-shadow: var(--block-shadow);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media only screen and (max-width: 767px) {
  .recommend__table-pstatus {
    width: 25px;
    height: 12px;
    line-height: 12px;
    background-size: 8px auto;
  }
}

@media only screen and (min-width: 768px) {
  .recommend__table-pstatus {
    width: 30px;
    height: 15px;
    line-height: 15px;
    background-size: 10px auto;
  }
}

.recommend__table-pstatus--yellow {
  background-color: var(--yellow);
}

.recommend__table-pstatus--green {
  background-color: var(--green);
  background-image: url('../../../../public/img/recommend-status/check.svg');
}

.recommend__table-pstatus--red {
  background-color: var(--red);
  background-image: url('../../../../public/img/recommend-status/cross.svg');
}
