@charset "UTF-8";

.search {
  margin-top: 27px;
  color: var(--white);
  background: var(--blue);
  border-radius: 10px;
  box-shadow: var(--block-shadow2);
}

@media only screen and (width <= 767px) {
  .search {
    margin-bottom: 7px;
    padding: 18px 10px 20px;
  }
}

@media only screen and (width >= 768px) {
  .search {
    display: flex;
    align-items: center;
    padding: 25px 20px;
  }
}

@media only screen and (width <= 1023px) {
  .search {
    margin-bottom: 7px;
  }
}

@media only screen and (width >= 1024px) {
  .search {
    margin-bottom: 20px;
  }
}

.search__text {
  flex: 0 0 auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3;
}

@media only screen and (width <= 767px) {
  .search__text {
    margin-bottom: 22px;
    text-align: center;
  }
}

@media only screen and (width >= 768px) {
  .search__text {
    width: 50%;
    max-width: 325px;
    padding-right: 20px;
  }
}

.search__title {
  font-weight: 600;
}

@media only screen and (width <= 767px) {
  .search__title {
    margin-bottom: 9px;
    font-size: 16px;
  }
}

@media only screen and (width >= 768px) {
  .search__title {
    margin-bottom: 3px;
    font-size: 18px;
  }
}

.search__form {
  display: flex;
  gap: 10px 20px;
  flex: 1;
}

@media only screen and (width <= 1023px) {
  .search__form {
    flex-direction: column;
    align-items: stretch;
  }

  .search__form > * {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (width >= 1024px) {
  .search__form {
    flex-direction: row;
    align-items: flex-start;
  }
}

.search__input-wrap {
  position: relative;
}

@media only screen and (width >= 1024px) {
  .search__input-wrap {
    flex: 1;
  }
}

.search__input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  font-family: var(--font);
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  color: var(--text);
  background: var(--block-bg2);
  border-radius: 10px;
  appearance: none;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  letter-spacing: normal;
  text-transform: none;
  box-shadow: none;
}

input.search__input::placeholder {
  color: var(--grey2);
  opacity: 1;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0.5 !important;
}

.search__input ~ svg {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
  fill: var(--text);
}

.search__input:placeholder-shown ~ svg {
  fill: var(--grey2);
}

.search__input:placeholder-shown:focus ~ svg {
  opacity: 0.5;
}

@media only screen and (width <= 767px) {
  .search__input {
    padding: 11px 15px 11px 40px;
    font-size: 12px;
  }

  .search__input ~ svg {
    left: 9px;
  }
}

@media only screen and (width >= 768px) {
  .search__input {
    padding: 8.5px 15px 8.5px 50px;
    font-size: 16px;
  }

  .search__input ~ svg {
    left: 18px;
  }
}

.btn--search {
  min-width: 120px;
  color: var(--white);
  border-color: var(--btn-search-border);
  background: var(--btn-search-bg);
}
