

.tabs {
  position: relative;
  display: flex;
}

@media only screen and (width <= 767px) {
  .tabs {
    margin-bottom: 10px;
    gap: 8px;
  }
}

@media only screen and (width >= 768px) {
  .tabs {
    margin-bottom: -10px;
  }
}

.tabs__link {
  position: relative;
  flex: 0 0 auto;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  background: var(--bg-blue);
  cursor: pointer;
  user-select: none;
  box-shadow: var(--block-shadow);
}

.tabs__link--active {
  background-color: var(--block-bg);
  cursor: default;
  z-index: 4;
  clip-path: polygon(-30px -30px, calc(100% + 30px) -30px, calc(100% + 30px) 100%, -30px 100%);
}

.tabs__link--disabled {
  color: var(--disabled);
  pointer-events: none;
  cursor: default;
  background-color: var(--bg-disabled);
}

@media only screen and (width <= 767px) {
  .tabs__link {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    font-size: 11px;
    line-height: 15px;
    border-radius: 10px;
    gap: 0 4px;
  }

  .tabs__link--desktop {
    display: none;
  }
}

@media only screen and (width >= 768px) {
  .tabs__link {
    padding: 20px 25px 30px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px 10px 0 0;
  }

  .tabs__link--active {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }

  .tabs__link::before,
  .tabs__link::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 0 10px var(--block-bg);
  }

  .tabs__link::before {
    left: 100%;
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);
  }

  .tabs__link::after {
    right: 100%;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  }

  .tabs__link:first-child::after {
    display: none;
  }

  .tabs__link--active::before,
  .tabs__link--active::after {
    opacity: 1;
  }
}
