.tarifes {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 40px auto;
  background: var(--tarifes-bg);
  border-radius: 10px;
  box-shadow: var(--block-shadow);
}

@media only screen and (max-width: 767px) {
  .tarifes {
    padding: 10px 10px 40px;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes {
    padding: 20px;
  }
}

@media only screen and (max-width: 859px) {
  .tarifes {
    max-width: 520px;
  }
}

@media only screen and (min-width: 860px) {
  .tarifes {
    max-width: 1056px;
  }
}

.tarifes__title {
  margin: 9px 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 767px) {
  .tarifes__title {
    margin-bottom: 29px;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes__title {
    margin-bottom: 22px;
  }
}

.tarifes__labels {
  display: flex;
  gap: 10px 20px;
  margin: 0 0 20px;
}

@media only screen and (max-width: 859px) {
  .tarifes__labels {
    flex-direction: column;
  }
}

@media only screen and (min-width: 860px) {
  .tarifes__labels {
    flex-flow: row wrap;
    align-items: center;
  }
}

.tarifes__label {
  flex: 0 0 auto;
  padding: 11px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  background: var(--bg-tabs);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  transition-property: color, background, border, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (min-width: 860px) {
  .tarifes__label {
    min-width: 207px;
  }
}

@media (pointer: fine) {
  .tarifes__label:hover {
    border-color: var(--blue);
  }
}

.tarifes__label--active {
  cursor: default;
  color: var(--tabs-active);
  border-color: var(--blue);
  background-color: var(--bg-tabs-active);
  box-shadow: var(--block-shadow);
}

.tarifes__grid {
  display: grid;
  gap: 10px 20px;
}

@media only screen and (max-width: 859px) {
  .tarifes__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 860px) {
  .tarifes__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tarifes__block {
  box-shadow: var(--block-shadow);
  border-radius: 10px;
}

.tarifes__block--active {
  border: 1px solid var(--green);
}

.tarifes__block:nth-child(1) {
  background: var(--tarifes-block1);
}

.tarifes__block:nth-child(2) {
  background: var(--tarifes-block2);
}

@media only screen and (max-width: 767px) {
  .tarifes__block {
    padding: 16px 20px 40px;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes__block {
    padding: 24px 30px 30px;
  }
}

.tarifes__gift {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

@media only screen and (max-width: 1024px) {
  .tarifes__gift {
    margin: 0 0 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .tarifes__gift {
    float: right;
    margin: 0 0 0 10px;
  }
}

.tarifes__gift > * {
  flex: 0 0 auto;
  min-width: 125px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: var(--white);
  border-radius: 15px;
}

.tarifes__gift-access {
  min-width: 125px;
}

@media only screen and (min-width: 768px) {
  .tarifes__gift-free {
    min-width: 151px;
  }
}

.tarifes__name {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 375px) {
  .tarifes__name {
    padding-top: 3.8px;
  }
}

.tarifes__price {
  position: relative;
  margin: 0 0 12px;
  padding-top: 25px;
  line-height: 24px;
}

.tarifes__price del {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-weight: 500;
  line-height: 1;
  text-decoration: line-through;
  color: var(--red);
}

@media only screen and (max-width: 767px) {
  .tarifes__price del {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes__price del {
    font-size: 16px;
  }
}

.tarifes__price strong {
  font-weight: 500;
  font-size: 24px;
}

.tarifes__price span {
  font-weight: normal;
  font-size: 14px;
  color: var(--grey);
}

@media only screen and (max-width: 479px) {
  .btn--tarifes {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .btn--tarifes {
    max-width: 207px;
  }
}

.btn--tarifes {
  position: relative;

  .btn-tarif-icon {
    display: none;
  }

  &._queue,
  &._queued {
    display: inline-block;
    width: auto;
    max-width: 100%;

    .btn-tarif-icon {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      text-align: center;
      border-radius: 50%;

      .svg-icon {
        width: 8px;
        height: 8px;
        font-size: 8px;
      }
    }
  }

  &._queue {
    padding-right: 56px;
    background: transparent;
    border-color: #ccc5ff;

    .btn-tarif-icon {
      top: -0.5px;
      right: -0.5px;
      bottom: 0;
      width: 40px;
      height: 40px;
      background: var(--blue);
    }
  }

  &._queued {
    padding-left: 36px;
    background: var(--green);
    pointer-events: none;
    border-color: var(--green);

    .btn-tarif-icon {
      top: 50%;
      left: 10px;
      width: 20px;
      height: 20px;
      background: #256b5f;
      transform: translateY(-50%);
    }
  }
}

.btn-que {
  position: relative;
  max-width: 300px;
  padding: 0;

  background: transparent;
  border: 0;
  border-color: #ccc5ff;
  cursor: default;

  &:hover {
    opacity: 1;
  }

  .btn-tarif-icon {
    position: absolute;
    display: inline-flex;
    top: 0;
    right: 1px;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-align: center;
    color: white;
    background: var(--blue);
    border-radius: 50%;
    cursor: pointer;

    .svg-icon {
      width: 8px;
      height: 8px;
      font-size: 8px;
    }
  }

  input {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 13px 56px 12px 23px;
    font-size: 12px;
    color: var(--text);
    background: transparent;
    border: 1px solid #ccc5ff;
    border-radius: 20px;
  }

  &._error {
    input {
      border-color: var(--red);
    }
  }
}

.tarifes__text {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  gap: 10px 0;
}

@media only screen and (max-width: 767px) {
  .tarifes__text {
    gap: 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes__text {
    gap: 20px 0;
  }
}

.tarifes__text li {
  position: relative;
  margin: 0;
  padding: 0 0 0 32px;
}

.tarifes__text li::after {
  position: absolute;
  content: '';
  display: block;
  top: 0.7em;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px 0;
  background: url('@/assets/images/TickCircle.svg') no-repeat 50% 50%;
  border-radius: 50%;
  background-size: cover;
}

.tarifes__yellow {
  font-weight: 600;
  color: #efad10;
}

.tarifes__green {
  font-weight: 600;
  color: #339987;
}

.tarifes__sales {
  display: flex;
  align-items: center;
  width: 176px;
  padding: 8px;
  text-align: left;
  color: var(--white);
  background: var(--red);
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 5px 2px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .tarifes__sales {
    margin: -4px -10px 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .tarifes__sales {
    margin: -12px -20px 0 10px;
  }
}

.tarifes__sales-big {
  flex: 0 0 auto;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.tarifes__sales-num {
  flex: 0 0 auto;
  width: 16px;
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: var(--black);
  background: rgb(255 255 255 / 60%);
  border-radius: 4px;
}

.tarifes__sales-label {
  padding-right: 3px;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  text-align: center;
}
