.signals {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  min-height: 240px;
  padding: 30px 20px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
  border-radius: 10px;
  overflow: hidden;
  transition: background 0.3s;

  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: $colorFont;
    margin-bottom: 40px;
  }

  &__nothing {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    position: absolute;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    th {
      text-align: center;
      font-weight: 400;
      font-size: 10px;
      padding-bottom: 11px;
      line-height: 14px;
      color: $colorGray !important;

      &:nth-child(1) {
        text-align: left;
      }

      &:last-child {
        text-align: center;
      }

      &:nth-child(2) {
        text-align: left;
      }
    }

    tbody tr {
      //   border-bottom: 1px dashed #3f424f;
      border-bottom: 1px dashed #dddfe1;
      position: relative;
      transition: all 0.3s;

      &:last-child {
        border: transparent;
      }
    }

    td {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $colorFont;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;

      span {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: center;
      }
    }

    .signal-date {
      font-weight: 400;
    }

    .signal-coin {
      display: flex;
      align-items: center;

      img {
        display: block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        object-fit: contain;
        margin-right: 10px;
      }

      &__description {
        font-weight: 400;
        text-align: left;
      }
    }

    .signal-stoploss {
      color: $colorGray;
    }
  }

  &__select {
    z-index: 2;
    position: relative;

    .chart__dropdown-button {
      min-width: 120px;
      padding: 5px 30px 5px 9px;
    }
  }

  &__list {
    width: 1320px;
  }

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $colorFont;

    &:not(:last-child) {
      padding-bottom: 12px;
      margin-bottom: 10px;
      border-bottom: 1px dashed #dddfe1;
    }
  }

  &__signal {
    width: 135px;
  }

  &__headers {
    display: flex;
    width: 1320px;
    align-items: center;
    margin-bottom: 21px;
  }

  &__inner {
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #4572ee;
    }
  }

  &__head {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $colorGray;

    &:nth-child(1) {
      width: 139px;
    }

    &:nth-child(2) {
      width: 188px;
    }

    &:nth-child(3) {
      width: 197px;
    }

    &:nth-child(4) {
      width: 221px;
    }

    &:nth-child(5) {
      width: 171px;
    }

    &:nth-child(6) {
      width: 178px;
    }

    &:nth-child(7) {
      width: 127px;
    }
  }

  &__costs {
    display: flex;
    width: 171px;
    flex-direction: column;

    &--enter {
      width: 176px;
    }
  }

  &__los {
    color: $colorGray;
    width: 153px;
  }

  &__orderType {
    width: 190px;
  }

  &__orderStatus {
    width: 226px;
  }

  &__risk {
    color: #449c62;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 195px;

    h6 {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $colorFont;
      margin-bottom: 1px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $colorGray;
    }

    img {
      border-radius: 50%;
      object-fit: contain;
      max-height: 24px;
      max-width: 24px;
      margin-right: 10px;
    }
  }

  .chart__dropdown-wrapper li {
    &:first-child {
      border-radius: 0;
    }
  }
}

@include r($md) {
  .signals__inner {
    table {
      width: 900px;
    }
  }
}

@include r($sm) {
  .signals .title {
    font-size: 11px;
  }
}

.main._black-theme {
  .signals table tbody tr {
    border-color: #3f424f;
  }

  .signals {
    background: #1c2326;

    * {
      color: white;
    }
  }
}
