{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:react/recommended", "plugin:react/jsx-runtime", "plugin:prettier/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "react/display-name": ["off"]
  }
}
