{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-recommended-scss"
  ],
  "plugins": ["stylelint-prettier", "stylelint-scss"],
  "rules": {
    "prettier/prettier": true,
    "declaration-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-class-pattern": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "import-notation": null,
    "keyframes-name-pattern": null
  }
}
