.tarif {
  max-width: 1056px;
  width: 100%;
  height: 100%;
  padding: 20px;
  max-height: 686px;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
  border-radius: 10px;

  &__header {
    margin-bottom: 20px;

    button {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: $colorFont;
      padding: 14px 23px;
      background: #efefef;
      border-radius: 10px;
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0) 0 2px 20px;
      will-change: transform;
      backface-visibility: hidden;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.active {
        background: #fff;
        color: $colorRed;
        border: 1px solid $colorPrimary;
        box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
      }
    }
  }

  &__service {
    top: 23px;
    right: 23px;
    padding: 8px 11px;
    position: absolute;
    background: rgba(202, 57, 12, 0.7);
    border-radius: 20px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #fff;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    max-height: 374px;
    margin-bottom: 9px;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    line-height: 14px;
    color: $colorFont;
    margin-bottom: 30px;
  }

  &__inner {
    display: flex;
    height: 100%;
    max-height: 91%;
    justify-content: space-between;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: fit-content;
    padding: 11px 10px;
    color: white;
    font-size: 42px;
    font-weight: 200;
    background: $colorPrimary;
    border-radius: 10px;
    transition: background 0.3s;

    &:hover {
      background: #192f7c;
    }

    &:active {
      background: #1f3a99;
    }
  }

  &__card {
    position: relative;
    overflow: auto;
    max-width: 498px;
    max-height: 523px;
    padding: 30px;
    width: 100%;
    border: 2px solid transparent;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    transition: border-color 0.3s;

    &:nth-child(1) {
      margin-right: 20px;
    }

    &:hover {
      border-color: #339987;
    }
  }

  &__cost {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: $colorFont;
    margin-bottom: 15px;

    strong {
      top: -25px;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      text-decoration-line: line-through;
      color: $colorRed;
      position: absolute;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #757e91;
    }
  }

  &__head {
    min-height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;

    h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $colorFont;
      margin-bottom: 25px;
    }

    p {
      width: fit-content;
      padding: 3px 12px;
      color: white;
      text-align: center;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      background: #1f3a99;
      border-radius: 4px;

      span {
        display: block;
      }
    }
  }

  &__list {
    padding: 0 20px;

    li {
      padding-left: 10px;
      position: relative;
      padding-top: 3px;
      margin-top: 5px;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        left: -20px;
        top: 2px;
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIwIDEwQzIwIDE1LjUyMjggMTUuNTIyOCAyMCAxMCAyMEM0LjQ3NzE1IDIwIDAgMTUuNTIyOCAwIDEwQzAgNC40NzcxNSA0LjQ3NzE1IDAgMTAgMEMxNS41MjI4IDAgMjAgNC40NzcxNSAyMCAxMFoiIGZpbGw9IiMzMzk5ODciLz4KPHBhdGggZD0iTTE1IDdMMTEuNjMwOCAxMC43NjMyQzEwLjI5NTcgMTIuMjU0NCA5LjYyODIgMTMgOC43NSAxM0M3Ljg3MTggMTMgNy4yMDQyNSAxMi4yNTQ0IDUuODY5MTcgMTAuNzYzMkw1IDkuNzkyMzYiIHN0cm9rZT0iI0ZBRkFGQSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K');
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__sale {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    padding: 6px;
    background: $colorRed;
    border-radius: 4px;
  }

  &__price {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    flex-direction: column;

    span {
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      text-decoration-line: line-through;
      color: #a5b1df;
      margin-bottom: 4px;
    }
  }

  &__promo {
    margin-top: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #449c62;
  }

  &__info {
    background-color: #1f3a99;

    &.saled {
      background-color: $colorRed;
    }
  }

  &__link {
    max-width: 207px;
    padding: 14px 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    background: $colorPrimary;
    border-radius: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #3255d6;
    }
  }
}

@include r($md) {
  .tarif {
    max-width: 95%;
    margin: 0 auto;
    overflow: auto;
  }

  .tarif__card {
    max-width: 90%;
    margin: 0 auto;
  }

  .tarif__header {
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      width: 100%;
      padding: 9px;
      font-size: 10px;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

@include r($sm) {
  .tarif {
    max-height: 540px;
  }

  .tarif__card {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .tarif__list {
    li {
      font-size: 11px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
