.partnership {
	* {
		&.blue {
			font-weight: 600;
			font-size: 28px;
			line-height: 100%;
			color: #4572ee;
		}
	}

	&__side {
		display: flex;
		width: 100%;
		max-width: 555px;
		flex-direction: column;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	div {
		h3 {
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			color: #262628;
		}

		&.block {
			max-width: 555px;
			width: 100%;
			display: flex;
			margin-bottom: 20px;
			flex-direction: column;
			padding: 30px 20px;
			background: #ffffff;
			box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
			border-radius: 10px;

			&:nth-child(2) {
				text-align: center;

				h3 {
					margin: 0 auto 5px;
					max-width: 485px;
					text-align: center;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					color: #262628;
				}

				strong {
					margin-top: 10px;
					margin-bottom: 16px;
				}

				p {
					font-weight: 400;
					font-size: 16px;
					line-height: 14px;
					text-align: center;
					color: #262628;
				}
			}
		}
	}

	&__input {
		width: 100%;
		padding: 10px 20px;
		background: #ffffff;
		border: 1px solid #ccc5ff;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	&__copy {
		width: 207px;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #ffffff;
		margin-right: auto;
		padding: 14px 23px;
		color: white;
		background: #4572ee;
		border-radius: 40px;
	}

	&__partners {
		width: 100%;
		max-width: 785px;
		padding: 30px 20px;
		background: #ffffff;
		box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
		border-radius: 10px;
		margin-right: 20px;
	}

	&__title {
		margin-bottom: 26px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 21px;
	}

	&__body {
		li {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				color: #262628;
				&:nth-child(2) {
					margin-left: 45px;
				}

				&.email {
					font-weight: 500;
					text-align: center;
					color: #262628;
				}

				&.sum {
					font-weight: 700;
					color: #449c62;
					margin-right: 10px;
				}
			}

			&:not(:last-child) {
				padding-bottom: 14px;
				margin-bottom: 18px;
				border-bottom: 1px dashed #dddfe1;
			}
		}
	}

	&__balance {
		padding: 19px 15px 19px 19px;
		background: #ffffff;
		margin-right: 20px;
		box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
		border-radius: 10px;
		font-weight: 600;
		font-size: 28px;
		line-height: 100%;
		color: #4572ee;
	}

	&__text {
		margin-right: 15px;
		font-weight: 600;
		font-size: 16px;
		line-height: 14px;
		color: #262628;
	}

	&__head {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;

		li {
			text-align: right;
			padding: 18.5px 29px;
			background: #ffffff;
			box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
			border-radius: 10px;

			display: flex;
			align-items: center;

			p {
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				/* or 117% */

				text-align: right;
				margin-right: 18px;
				color: #262628;
				max-width: 90px;
			}

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&__out {
		padding: 14px 16px;
		margin-right: auto;
		color: white;
		background: #4572ee;
		border-radius: 40px;
	}

	&__system {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__card {
		max-width: 87px;
		display: flex;
		padding: 9px;
		flex-direction: column;
		align-items: center;
		background: #ffffff;
		box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
		border-radius: 10px;

		&:not(:last-child){
			margin-right: 20px;
		}

		p {
			margin-bottom: 7px;
			font-weight: 600;
			font-size: 12px;
			line-height: 14px;
			/* or 117% */

			text-align: center;

			color: #262628;
		}

		strong {
			font-weight: 600;
			font-size: 28px;
			line-height: 100%;
			/* or 28px */

			text-align: center;

			color: #4572ee;
		}
	}
}
