.chart-container
  position: relative
  min-height: 220px
  height: calc(100vh - 290px)
  overflow: hidden
  z-index: 1
  &._simulator
    height: calc(100vh - 290px - 70px)
    margin-bottom: 70px

@media only screen and (max-width: 767px)
  .chart-container
    height: 220px

.chart-info
  position: absolute
  z-index: 1000
  display: none
  flex-direction: column
  top: 12px
  left: 12px
  width: 120px
  height: 100%
  color: #262628
  background: rgba(white, 0.25)
  border-radius: 4px 4px 0 0
  border-bottom: none
  box-shadow: 0 2px 5px 0 rgba(117, 134, 150, 0.45)
  pointer-events: none

  &__inner
    flex: 1 0 auto
    display: flex
    flex-direction: column
    padding: 8px 8px 32px


  &__label
    display: block
    font-weight: 600
    font-size: 12px


  &__prices
    margin-top: 12px


  &__pricedata
    display: flex
    // flex-wrap: wrap
    font-weight: 600
    align-items: center
    font-size: 12px

    &:not(:last-child)
      margin-bottom: 5px


    i
      flex: 0 0 auto
      width: 8px
      height: 8px
      border-radius: 50%
      margin-right: 4px


    p
      // flex: 0 0 calc(100% - 12px)
      font-size: 11px
      font-weight: 400



  &__markers
    margin-top: auto


  &__marker
    font-size: 12px
    font-weight: 700
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

    i
      flex: 0 0 auto
      width: 12px
      height: 12px
      border-radius: 50%
      margin-bottom: 4px




.mainwrap.themeDark
  .chart-info
    color: white
    background: rgba(black, 0.2)



.chart-watermark
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  pointer-events: none
  display: flex
  padding: 10px 40px

  &__col
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 55px

    .header__logo
      margin: auto 0
      opacity: 0.15
      svg
        fill: #262628 !important


.mainwrap.themeDark
  .chart-watermark
    &__col
      .header__logo
        svg
          fill: white !important

.chart-return
  position: absolute
  z-index: 8
  display: flex
  align-items: center
  justify-content: center
  bottom: 60px
  right: 20px
  width: 36px
  height: 36px
  border-radius: 50%
  background: #2962FF
  color: white
  font-size: 16px
  cursor: pointer
  opacity: 0
  pointer-events: none
  transition: opacity .25s ease
  &._visible
    opacity: 1
    pointer-events: all

@media only screen and (max-width: 767px)
  .chart-return
    bottom: 30px
    right: 10px
    width: 24px
    height: 24px

.chart-pulse
  display: none
  position: absolute
  z-index: 2
  width: 8px
  height: 8px
  border-radius: 50%
  background: #2962FF
  span
    position: absolute
    left: -8px
    top: -8px
    height: 24px
    width: 24px
    border: 3px solid #2962FF
    border-radius: 50%
    animation: pulsate 5s ease-out infinite
    transform-origin: center center
    opacity: 0

@keyframes pulsate
  0%
    transform: scale(0.1)
    opacity: 0
  10%
    opacity: 1
  20%, 100%
    transform: scale(1.2)
    opacity: 0


.chart-legend-tw
  position: absolute
  top: 10px
  right: 10px
  z-index: 4
  pointer-events: none
  display: flex
  flex-direction: column
  label
    flex: 0 0 auto
    position: relative
    display: flex
    align-items: center
    gap: 0 5px
    font-size: 12px
    margin-bottom: 6px 2 1

.chart-popup
  border-radius: 10px !important

  svg
    fill: var(--text)


.chart-simulator
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  background: var(--block-bg)
  border-top: 1px solid var(--border)
  border-bottom: 1px solid var(--border)

.sim
  .c-green
    color: var(--green)
  .c-red
    color: var(--red)
  &__wrapper
    display: flex
    align-items: center
    padding: 15px 20px
  &__timeline
    flex: 0 0 auto
    margin-left: auto
    display: flex
    align-items: center
  &__timeline-action
    font-size: 0
    border-radius: 4px
    padding: 4px
    min-height: 26px
    min-width: 26px
    display: flex
    justify-content: center
    align-items: center
    font-size: 0
    border: 1px solid transparent
    cursor: pointer
    transition: border .25s ease-in-out
    &:not(:last-child)
      margin-right: 8px
    &:hover, &._active
      border-color: var(--input-border)
    .svg-icon
      font-size: 18px
  &__play
    .svg-icon
      font-size: 15px
  &__back, &__forward
    .svg-icon
      font-size: 17px
  &__time
    font-size: 14px
  &__speed
    font-weight: 600
    font-size: 16px

  &__bets
    flex: 0 0 auto
    margin-left: 14px
    margin-right: 24px
    display: flex
    align-items: center
    font-size: 14px
  &__bet
    margin-left: 5px
    margin-right: 5px 

  &__short, &__long, &__flatten
    padding: 5px 20px
    font-size: 10px
    font-weight: 500
    border-radius: 10px
  &__short
    background-color: var(--red)
    border-color: var(--red)
  &__long
    background-color: var(--blue)
    border-color: var(--blue)
    margin-right: 5px
  &__flatten
    background-color: #E2E2E2
    border-color: #E2E2E2
    color: #AEAEAE
  &__position
    font-size: 18px
    font-weight: 600
    margin-right: 12px
    &._profit
      color: var(--green)
    &._loss
      color: var(--red)
  &__stats
    font-size: 14px
    margin-right: 12px
    span
      font-weight: 500
  &__close
    margin-right: 32px
    padding: 4px
    cursor: pointer
    transition: color .25s ease-in-out
    &:hover
      color: var(--red)
    .svg-icon
      font-size: 18px
  
.bet
  position: relative
  &__current
    position: relative
    z-index: 4
    margin-top: 0px
    background: var(--bg-blue)
    border-radius: 10px
    font-size: 10px
    color: var(--text)
    padding: 5px 10px
    cursor: pointer
    border: 1px solid transparent
    transition: background .25s ease, border .25s ease
    &:hover
      background: var(--blue)
      color: white
    &._active
      margin-top: -15px
      padding-top: 15px
      transform: translateY(4px)
      border: 1px solid var(--blue)
      border-top-left-radius: 0
      border-top-right-radius: 0
      border-top-color: transparent
  &__select
    position: absolute
    z-index: 3
    min-width: 80px
    bottom: calc(100% + 10px)
    left: 0
    pointer-events: none
    font-weight: 500
    font-size: 10px
    line-height: 14px
    background: var(--bg-blue)
    border: 1px solid var(--blue)
    border-radius: 10px 10px 10px 0
    overflow: hidden
    opacity: 0
    transform: translate(0,-10px)
    transition: transform .25s ease, opacity .25s ease
    &._active
      opacity: 1
      transform: none
      pointer-events: all
  &__select-list
    display: flex
    flex-wrap: wrap
  &__select-current
    flex: 0 0 100%
    padding: 7px 10px 4px
    text-align: center
    font-weight: 500
    font-size: 10px
    line-height: 1.4
  &__select-item
    flex: 0 0 50%
    min-width: 1px
    font-weight: 400
    font-size: 10px
    line-height: 1.4
    text-align: center
    padding: 5px
    cursor: pointer
    border: 1px solid transparent
    border-top-color: var(--input-border)
    border-bottom: 0
    transition: opacity .25s ease
    &:nth-child(even)
      border-right-color: var(--input-border)
    &:nth-child(odd)
      border-right-color: var(--input-border)

    &:hover
      opacity: 0.7

    &._minus, &._plus
      position: relative
      min-height: 24px
      &::before, &::after
        position: absolute
        display: inline-block
        content: ' '
        width: 8px
        height: 1px
        top: 50%
        left: 50%
        margin-left: -4px
        margin-bottom: 0px
        background: currentColor
      &::before
        transform: rotate(0deg) 
      &::after
        transform: rotate(-90deg)
    &._minus
      &::after
        display: none