@charset "UTF-8"

.chart
  background: var(--block-bg)
  box-shadow: var(--block-shadow)
  position: relative
  border-radius: 10px

@media only screen and (max-width: 767px)
  .chart
    padding: 12px 10px

@media only screen and (min-width: 768px)
  .chart
    padding: 20px

  .tabs ~ .chart
    border-top-left-radius: 0

.chart__head
  display: flex
  align-items: center

@media only screen and (max-width: 767px)
  .chart__head
    margin-bottom: 12px
    margin-right: -5px
    gap: 0 10px

@media only screen and (min-width: 768px)
  .chart__head
    margin-bottom: 24px
    gap: 0 30px

.chart__head-title
  font-weight: 600

@media only screen and (max-width: 767px)
  .chart__head-title
    font-size: 11px
    line-height: 14px

@media only screen and (min-width: 768px)
  .chart__head-title
    font-size: 16px
    line-height: 20px

.chart__head-filters
  display: flex
  align-items: center
  flex-wrap: wrap

@media only screen and (max-width: 767px)
  .chart__head-filters
    gap: 6px

@media only screen and (min-width: 768px)
  .chart__head-filters
    gap: 10px
    flex: 1 1 auto

@media only screen and (max-width: 1023px)
  .chart__head-time
    display: none

@media only screen and (min-width: 1024px)
  .chart__head-time
    font-weight: 600
    font-size: 12px
    line-height: 14px
    color: var(--grey)

@media only screen and (max-width: 767px)
  .chart__settings-opener
    display: none

@media only screen and (min-width: 768px)
  .chart__settings-opener
    cursor: pointer
    user-select: none
    position: relative
    background: var(--blue)
    border-radius: 10px
    width: 40px
    height: 40px
    z-index: 96

    svg
      width: 20px
      height: 20px
      fill: var(--white)
      position: absolute
      top: 50%
      left: 50%
      margin: -10px
      transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)

  .chart__settings-opener--active svg
    opacity: 0

  .chart__settings-opener
    &:before, &:after
      content: ''
      position: absolute
      width: 22px
      height: 2px
      border-radius: 1px
      background: var(--white)
      top: 50%
      left: 50%
      transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
      opacity: 0

    &:before
      transform: translate3d(-50%, -50%, 0) rotate(-45deg)

    &:after
      transform: translate3d(-50%, -50%, 0) rotate(45deg)

  .chart__settings-opener--active
    &:before, &:after
      opacity: 1

@media only screen and (max-width: 767px)
  .chart__settings-dropdown
    display: none

@media only screen and (min-width: 768px)
  .chart__settings-dropdown
    position: absolute
    top: 0
    right: 0
    bottom: 0
    border-radius: 10px
    background: var(--block-bg)
    box-shadow: var(--block-shadow)
    width: 435px
    z-index: 95
    display: flex
    flex-wrap: wrap
    padding: 30px
    overflow: hidden
    overflow-y: auto
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    opacity: 0
    pointer-events: none

  .chart__settings-dropdown--active
    opacity: 1
    pointer-events: all

  .chart__settings-title
    font-weight: 600
    font-size: 16px
    line-height: 20px
    margin: 0 0 34px 0
    flex: 0 0 auto
    width: 100%

  .chart__settings-checks
    flex: 0 0 auto
    width: 50%
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 21px 0
    font-weight: normal
    font-size: 12px
    line-height: 14px

    label
      flex: 0 0 auto
      max-width: 100%
      position: relative
      cursor: pointer
      user-select: none
      display: flex
      align-items: center
      gap: 0 5px

    input
      position: absolute
      visibility: hidden
      opacity: 0

    .checkbox
      margin: -3px 5px -3px 0

  .chart__settings-line
    flex: 0 0 auto
    width: 10px
    border-style: solid
    border-width: 1.5px 0 0 0