.chart {
  max-height: 487px;

  &__head {
    padding-left: 30px;
    display: flex;
    margin-bottom: 10px;
    margin-right: 40px;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      color: $colorFont;
      margin-right: 20px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__load {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__legend {
    max-width: 435px;
    width: 100%;
    z-index: 10;
    top: 0;
    opacity: 0;
    pointer-events: none;
    right: 0;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    padding: 20px;
    transition: opacity 0.3s;

    &--active {
      opacity: 1;
      pointer-events: all;
    }

    &-blur {
      width: 100%;
      height: 100%;
      z-index: 5;
      position: absolute;
      left: 0;
      pointer-events: none;
      top: 0;
      opacity: 0;
      background: linear-gradient(
        95.65deg,
        rgba(217, 220, 233, 0.1) 10.51%,
        rgba(229, 220, 230, 0.1) 94.31%
      );
      backdrop-filter: blur(5px);
      border-radius: 10px;
      transition: opacity 0.3s;

      &--active {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      color: $colorFont;
    }

    &-close {
      position: relative;
      width: 40px;
      height: 40px;
      color: white;
      font-weight: 300;
      font-size: 46px;
      background: $colorPrimary;
      border-radius: 10px;
      transition: background 0.3s;

      p {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 54%;
        left: 52%;
      }

      &:hover {
        background: #192e7b;
      }

      &:active {
        background: #1f3a99;
      }
    }

    &-list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }

    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;

      div {
        width: 14px;
        height: 2px;
        margin: 0 7px;
      }

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
      }

      button {
        position: relative;
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 6px;

        &::before {
          content: '';
          opacity: 0;
          position: absolute;
          width: 14px;
          height: 14px;
          left: 2px;
          top: 2px;
          background: $colorPrimary;
          border-radius: 4px;
          transition: opacity 0.3s;
        }
      }

      &--active {
        button {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__settings {
    padding: 10px 10px 6px;
    background: $colorPrimary;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__line {
    width: 10px;
    position: absolute;
    height: 2px;
    left: 24px;
    top: 6px;
  }

  &__toggle {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $colorFont;
    padding-left: 40px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 20px;
      width: 20px;
      top: -3px;
      border: 1px solid #dfdfdf;
      border-radius: 6px;
      background-color: transparent;
    }

    &::after {
      content: '';
      top: 0;
      left: 3px;
      position: absolute;
      background: #88019e;
      border-radius: 4px;
      width: 14px;
      height: 14px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &--active {
      &::after {
        opacity: 1;
      }
    }
  }

  &__timer {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-left: auto;
    text-align: right;
    color: $colorGray;
    margin-right: 19px;
  }

  &__dropdown {
    margin-right: 10px;
    position: relative;
    width: 136px;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &-button {
      width: 100%;
      position: relative;
      text-align: left;
      font-weight: 500;
      font-size: 10px;
      line-height: 14px;
      color: $colorFont;
      padding: 5px 9px;
      background: #fff;
      border: 1px solid $colorPrimary;
      border-radius: 15px;
      transition: border-radius 0.3s;

      span {
        opacity: 0;
        top: -3px;
        right: 4px;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: red;
        transition: opacity 0.3s;
      }

      &::before {
        content: '';
        position: absolute;
        width: 10px;
        right: 10px;
        top: 7px;
        height: 10px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      }

      &--active {
        border-radius: 10px 10px 0 0;

        &::before {
          transform: rotate(-180deg);
        }
      }

      &.active {
        min-width: 120px;
        width: fit-content;
        padding-right: 35px;
        position: relative;

        span {
          opacity: 1;
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          width: 15px;
          height: 1px;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: black;
        }

        &::after {
          transform: translateY(-50%) rotate(45deg);
        }

        &::before {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &-wrapper {
      width: 100%;
      top: 110%;
      opacity: 0;
      position: absolute;
      pointer-events: none;
      transition: opacity 0.3s, top 0.3s;

      ul {
        overflow: hidden;
        width: 100%;
        background: #fff;
        border: 1px solid $colorPrimary;
        border-radius: 10px;
        transition: border-radius 0.3s;
      }

      li {
        width: 100%;
        font-weight: 500;
        cursor: pointer;
        font-size: 10px;
        line-height: 14px;
        text-align: left;
        color: $colorFont;
        padding: 5px 9px;
        transition: background 0.3s;

        button {
          color: $colorPrimary;
        }

        &.pro {
          pointer-events: none;
          position: relative;

          p {
            opacity: 0.5;
          }

          &::before {
            position: absolute;
            padding: 1px 4px;
            content: 'PRO';
            background-color: $colorRed;
            border-radius: 4px;
            font-weight: 500;
            font-size: 8px;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            line-height: 14px;
            text-align: center;
            color: #fff;
          }
        }

        &:hover {
          background: #efefefa3;

          &:last-child {
            border-radius: 0 0 10px 10px;
          }
        }
      }

      &--active {
        top: 97%;
        opacity: 1;
        pointer-events: all;

        ul {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }

  &-container {
    transition: opacity 0.6s;
  }
}

.recomendation {
  .chart__dropdown-wrapper li {
    &:first-child {
      border-radius: 0;
    }
  }
}

.investor {
  display: grid;
  overflow-x: auto;
  grid-gap: 20px;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 0 0 15px;

  &__wrapper {
    margin-bottom: -40px;
    display: flex;
    align-items: center;

    img {
      object-fit: contain;
      border-radius: 50%;
      margin-right: 8px;
      max-width: 20px;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #585960;

      span {
        color: $colorGray;
        margin-left: 10px;
        line-height: 12px;
        font-size: 12px;
      }
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 213px;
    padding: 16px 20px 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    transition: all 0.3s;

    &.mob-hidden {
      position: absolute;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &__button {
    position: relative;
    max-width: 280px;
    width: 100%;
    display: none;
    margin: 0 auto;
    padding: 14px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;
    color: $colorFont;
    border: 1px solid #858585;
    border-radius: 40px;
    transition: all 0.3s;

    &.hidden {
      display: none;
    }
  }
}

@media (max-width: 1100px) {
  .investor {
    padding-right: 15px;
    grid-template-columns: 1fr 1fr;

    &__chart {
      max-width: 100%;
      margin-left: 13px;
      width: calc(100% + 100px) !important;
    }
  }
}

@include r($md) {
  .chart__settings,
  .chart__timer {
    display: none;
  }

  .chart__head {
    margin-right: 0;
    padding-left: 0;
    justify-content: space-between;

    .title {
      font-size: 11px;
      line-height: 14px;
      color: $colorFont;
      margin-left: 8px;
      margin-right: 6px;
    }
  }

  .chart__dropdown {
    width: 85px;
  }

  .table__switch {
    margin-bottom: 10px;
  }

  .table__switch-button {
    background: #fff;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    margin-right: 8px;
    padding: 12px 16px !important;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: $colorFont;

    &::before {
      display: none;
    }
  }
}

@include r($sm) {
  .investor {
    &__button {
      display: block;
    }
  }
}
