.chart-container
  position: relative
  min-height: 220px
  height: calc(100vh - 290px)
  overflow: hidden
  z-index: 1

@media only screen and (max-width: 767px)
  .chart-container
    height: 220px

.chart-info
  position: absolute
  z-index: 1000
  display: none
  flex-direction: column
  top: 12px
  left: 12px
  width: 120px
  height: 100%
  color: #262628
  background: rgba(white, 0.25)
  border-radius: 4px 4px 0 0
  border-bottom: none
  box-shadow: 0 2px 5px 0 rgba(117, 134, 150, 0.45)
  pointer-events: none

  &__inner
    flex: 1 0 auto
    display: flex
    flex-direction: column
    padding: 8px 8px 32px


  &__label
    display: block
    font-weight: 600
    font-size: 12px


  &__prices
    margin-top: 12px


  &__pricedata
    display: flex
    // flex-wrap: wrap
    font-weight: 600
    align-items: center
    font-size: 12px

    &:not(:last-child)
      margin-bottom: 5px


    i
      flex: 0 0 auto
      width: 8px
      height: 8px
      border-radius: 50%
      margin-right: 4px


    p
      // flex: 0 0 calc(100% - 12px)
      font-size: 11px
      font-weight: 400



  &__markers
    margin-top: auto


  &__marker
    font-size: 12px
    font-weight: 700
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

    i
      flex: 0 0 auto
      width: 12px
      height: 12px
      border-radius: 50%
      margin-bottom: 4px




.mainwrap.themeDark
  .chart-info
    color: white
    background: rgba(black, 0.2)



.chart-watermark
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2
  pointer-events: none
  display: flex
  padding: 10px 40px

  &__col
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 55px

    .header__logo
      margin: auto 0
      opacity: 0.15
      svg
        fill: #262628 !important


.mainwrap.themeDark
  .chart-watermark
    &__col
      .header__logo
        svg
          fill: white !important

.chart-return
  position: absolute
  z-index: 8
  display: flex
  align-items: center
  justify-content: center
  bottom: 60px
  right: 20px
  width: 36px
  height: 36px
  border-radius: 50%
  background: #2962FF
  color: white
  font-size: 16px
  cursor: pointer
  opacity: 0
  pointer-events: none
  transition: opacity .25s ease
  &._visible
    opacity: 1
    pointer-events: all

@media only screen and (max-width: 767px)
  .chart-return
    bottom: 30px
    right: 10px
    width: 24px
    height: 24px

.chart-pulse
  display: none
  position: absolute
  z-index: 2
  width: 8px
  height: 8px
  border-radius: 50%
  background: #2962FF
  span
    position: absolute
    left: -8px
    top: -8px
    height: 24px
    width: 24px
    border: 3px solid #2962FF
    border-radius: 50%
    animation: pulsate 5s ease-out infinite
    transform-origin: center center
    opacity: 0

@keyframes pulsate
  0%
    transform: scale(0.1)
    opacity: 0
  10%
    opacity: 1
  20%, 100%
    transform: scale(1.2)
    opacity: 0


.chart-legend-tw
  position: absolute
  top: 10px
  right: 10px
  z-index: 4
  pointer-events: none
  display: flex
  flex-direction: column
  label
    flex: 0 0 auto
    position: relative
    display: flex
    align-items: center
    gap: 0 5px
    font-size: 12px
    margin-bottom: 6px 2 1

.chart-popup
  border-radius: 10px !important

  svg
    fill: var(--text)
