.sim-modal {
  max-width: 640px;

  .c-green {
    color: var(--green);
  }

  .c-red {
    color: var(--red);
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    text-align: left;
  }

  &__stat {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    font-size: 16px;

    span {
      display: block;
      margin-top: 4px;
      font-weight: 600;
    }
  }

  &__pl {
    font-weight: 600;
    font-size: 18px;
  }

  &__position {
    font-weight: 700;
    font-size: 16px;
  }
}
