.sim-modal {
  max-width: 640px;
  .c-green {
    color: var(--green);
  }
  .c-red {
    color: var(--red);
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 32px 0;
  }
  &__stat {
    font-size: 16px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    span {
      display: block;
      margin-top: 4px;
      font-weight: 600;
    }
  }
  &__pl {
    font-size: 18px;
    font-weight: 600;
  }
  &__position {
    font-size: 16px;
    font-weight: 700;
  }
}
