.authorization {
  min-height: 100vh;
  background: #000;

  &__inner {
    margin: auto;
    max-width: 1160px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bg {
    top: 0;
    right: -20%;
    max-height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: contain;
    background-size: contain;
    pointer-events: none;
    position: absolute;
  }

  &__spacer {
    min-height: 100vh;
    padding: 120px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__wrapper {
    margin-top: 40px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &._error {
      .authorization {
        &__input {
          border-color: $colorRed;
        }
      }
    }
  }

  &__window {
    &.cursor-active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        z-index: 1;
        background-color: #1f3a99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation-name: cursorPulse;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
      }
    }

    @keyframes cursorPulse {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 34px;
    color: #fff;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #fff;

    &._error {
      text-align: center;
      color: $colorRed;
    }

    &._error-main {
      margin-top: -10px;
      margin-bottom: 14px;
    }
  }

  &__resend {
    max-width: 73px;
    height: 64px;
    display: none;
    color: white;
    padding: 12.5px 8px;
    background: rgba(69, 114, 238, 0.5);
    border-radius: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    transition: opacity 0.3s;

    &.onMobile {
      display: block;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__logo {
    top: 37px;
    left: 40px;
    position: absolute;

    svg {
      .logo-letter {
        fill: white !important;
      }
    }
  }

  &__form {
    z-index: 1;
    min-width: 1px;
    text-align: left;
    padding: 40px 40px 50px;
    max-width: 440px;
    background: linear-gradient(180deg, rgba(102, 175, 203, 0.1) 0%, rgba(102, 175, 203, 0) 100%);
    border-radius: 21.163px;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    display: flex;
    flex-direction: column;

    &.validation {
      max-width: 465px;
      padding-bottom: 30px;

      .authorization__label::before {
        display: none;
      }
    }

    .authorization__title {
      text-align: left;
      margin-bottom: 8px;
    }
  }

  &__label {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: white;

    p {
      color: white;
      font-weight: 400;
      font-size: 13px;
      white-space: nowrap;
      line-height: 130%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 15px;
      top: 63px;
      left: 26px;
      z-index: 2;
      bottom: 43px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/assets/images/Mail.svg');
    }

    &._error {
      &::before {
        background-image: url('/assets/images/MailError.svg');
      }

      .authorization {
        &__input {
          border-color: $colorRed;
          color: $colorRed;
        }
      }
    }
  }

  &__input {
    padding: 23px 123px 23px 57px;
    margin: 20px 0;
    outline: #ccc5ff;
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    filter: drop-shadow(0 2px 20px rgba(9, 5, 183, 0.06));
    border-radius: 40px;
    transition: border-color 0.25s $ease;

    &.validation {
      padding: 22px 0;
      margin: 0;
      text-align: center;
      margin-right: 5px;
      max-width: 48px;
      border-radius: 20px;
    }

    &._error {
      border-color: $colorRed;
    }

    &::placeholder {
      color: $colorPrimary;
    }
  }

  &__confirm {
    margin-top: 16px;
  }

  &__return {
    display: flex;
    padding: 15px 0;
    margin-top: 10px;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: white;

    svg {
      font-size: 12px;
      margin-right: 10px;
      transition: margin-right 0.3s;
    }

    &:hover {
      svg {
        margin-right: 15px;
      }
    }
  }

  .invisible {
    right: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;

    &::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
  }
}

@include r($lg) {
  .authorization {
    padding: 0 20px;

    &__inner {
      justify-content: center;
    }

    &__bg {
      display: none;
    }

    &__form {
      margin-bottom: 30px;
    }
  }
}

@include r($sm) {
  .authorization {
    &__form {
      text-align: center;
      padding: 47px 20px 25px;

      .authorization__title {
        text-align: center;
      }
    }

    &__title {
      font-size: 22px;
    }

    &__label {
      font-size: 12px;
    }

    &__wrapper {
      margin-top: 20px;
      max-width: 280px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &__window {
      &.cursor-active {
        &::before {
          left: 45%;
          top: 55%;
        }
      }

      .authorization__input {
        margin-right: 0;
      }

      input {
        padding: 17px 0;
        margin-bottom: 10px;
      }
    }

    &__input {
      &.validation {
        padding: 12px 0;
        max-width: 36px;
        border-radius: 10px;
      }
    }

    &__resend {
      height: 44px;
      max-width: 100%;
      display: block;
      margin-bottom: 15px;

      &.onMobile {
        display: none;
      }
    }

    &__return {
      margin-top: 4px;
      padding: 10px 0;
      font-size: 16px;
    }
  }
}
