.authorization {
  min-height: 100vh;
  background: #000;

  .invisible {
    right: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;

    &::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
  }

  &__bg {
    top: 0;
    right: -20%;
    max-height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: contain;
    background-size: contain;
    pointer-events: none;
    position: absolute;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__window {
    &.cursor-active {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        z-index: 1;
        background-color: #1f3a99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation-name: cursorPulse;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
      }
    }

    @keyframes cursorPulse {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__inner {
    margin: auto;
    padding-top: 143px;
    max-width: 1160px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__swiper {
    padding-bottom: 60px;
    color: white;
    text-align: center;
    max-width: 484px;

    img {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }

  .swiper-wrapper {
    padding-bottom: 30px;
  }

  .swiper-pagination-bullet {
    background: white;

    &-active {
      height: 3px !important;
      background-color: #f034b0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 34px;
    color: #fff;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
  }

  &__resend {
    max-width: 73px;
    height: 64px;
    display: none;
    color: white;
    padding: 12.5px 8px;
    background: rgba(69, 114, 238, 0.5);
    border-radius: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    transition: opacity 0.3s;

    &.onMobile {
      display: block;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__logo {
    top: 37px;
    left: 40px;
    position: absolute;
  }

  &__form {
    z-index: 1;
    text-align: left;
    padding: 50px 40px;
    max-width: 440px;
    margin-top: 130px;
    background: linear-gradient(180deg, rgba(102, 175, 203, 0.1) 0%, rgba(102, 175, 203, 0) 100%);
    border-radius: 21.163px;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    display: flex;
    flex-direction: column;

    &.validation {
      max-width: 465px;
      padding-bottom: 30px;

      .authorization__text {
        color: white;
        font-weight: 400;
        text-align: left;
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 130%;
      }

      .authorization__label::before {
        display: none;
      }
    }

    .authorization__title {
      text-align: left;
      margin-bottom: 15px;
    }
  }

  &__label {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: white;

    p {
      color: white;
      font-weight: 400;
      font-size: 13px;
      white-space: nowrap;
      line-height: 130%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 15px;
      top: 63px;
      left: 26px;
      z-index: 2;
      bottom: 43px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('http://localhost:3000/images/Mail.svg');
    }
  }

  &__input {
    padding: 23px 123px 23px 57px;
    margin: 20px 0;
    outline: #ccc5ff;
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
    filter: drop-shadow(0 2px 20px rgba(9, 5, 183, 0.06));
    border-radius: 40px;

    &.validation {
      padding: 22px 0;
      text-align: center;
      margin-right: 5px;
      max-width: 48px;
    }

    &::placeholder {
      color: #4572ee;
    }
  }

  &__submit {
    padding: 24px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background: #4572ee;
    border-radius: 40px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

  &__return {
    display: flex;
    padding: 15px 0;
    margin-top: 10px;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    color: white;

    svg {
      margin-right: 10px;
      transition: margin-right 0.3s;
    }

    &:hover {
      svg {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 900px) {
  .authorization {
    padding: 0 10px;

    &__inner {
      justify-content: center;
    }

    &__form {
      margin-bottom: 30px;
    }

    &__swiper {
      max-width: 100%;
    }

    &__title {
      font-size: 17px;
    }

    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .authorization {
    &__inner {
      padding-top: 90px;
    }

    &__form {
      text-align: center;
      padding: 47px 20px 25px;

      .authorization__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 14px;
        color: #262628;
        margin-bottom: 12px;
        text-align: center !important;
      }
    }

    &__resend {
      height: 44px;
      max-width: 100%;
      display: block;
      margin-bottom: 15px;

      &.onMobile {
        display: none;
      }
    }

    &__window {
      &.cursor-active {
        &::before {
          left: 45%;
          top: 55%;
        }
      }

      input {
        padding: 17px 0;
        margin-bottom: 10px;
      }
    }

    &__input {
      &.validation {
        padding: 17px 0;
      }
    }
  }

  .authorization__form.validation .authorization__text {
    text-align: center;
  }
}
