.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  min-height: 100vh;
  padding-bottom: 30px;
  transition: background 0.3s;

  &::before {
    content: '';
    position: fixed;
    opacity: 0;
    z-index: -1;
    height: 100%;
    pointer-events: none;
    width: 100%;
    background: #141414;
    transition: opacity 0.3s;
  }
}

.main._black-theme {
  background: #141414;
  box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);

  .chart-info {
    color: white;
    background: #232425;
    border: 1px solid #303235;
  }

  .partnership-bonus__more {
    border-color: white;
    color: white;
  }

  .partnership-bonus__card p {
    color: #4572ee !important;
  }

  .partnership-raiting__button {
    color: white;

    &::before {
      background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e');
    }
  }

  .partnership-raiting__list {
    background: #232425;
    color: white;
  }

  thead th,
  .partnership-raiting tbody tr {
    color: white;
  }

  .tarif__header button {
    color: white;
    background: rgba(49, 96, 225, 0.4);
    border-radius: 10px;

    &.active {
      background: #4572ee;
      box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
      border-radius: 10px;
    }
  }

  .tarif {
    background: #000;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
  }

  .tarif__title {
    color: #fff;
  }

  .tarif__card {
    color: white !important;
    background: linear-gradient(180deg, rgba(0, 199, 44, 0.1) 0%, rgba(80, 211, 0, 0) 100%);
    border-radius: 10px;

    * {
      color: white !important;

      strong {
        color: $colorRed !important;
      }

      .tarif__cost span {
        color: #757e91 !important;
      }
    }

    &:nth-child(2) {
      background: linear-gradient(180deg, rgba(69, 114, 238, 0.1) 0%, rgba(69, 114, 238, 0) 100%);
      border-radius: 10px;
    }
  }

  .ui__lock {
    div {
      color: white;
    }
  }

  .chart__dropdown-button.active::before,
  .chart__dropdown-button.active::after {
    background-color: white;
  }

  .payment__wallet {
    color: white;
  }

  .payment__txid,
  .payment__wrapper--form,
  .payment__block {
    background: #1c2326;

    * {
      color: white;
    }

    input {
      color: black;
    }
  }

  .partnership__text,
  .payment__title {
    color: white;
  }

  .partnership div.block {
    background-color: #1c2326;

    p,
    h3 {
      color: white;
    }

    .partnership__card {
      p {
        color: black;
      }
    }
  }

  .partnership__balance {
    background-color: #1c2326;
  }

  .partnership__list li {
    background-color: #1c2326;

    p {
      color: white;
    }
  }

  .partnership__partners {
    background: #1c2326;

    * {
      color: white;

      &.sum {
        color: #449c62;
      }
    }
  }

  .mobile {
    background: #1e1e1e;

    &__rights,
    &__menu {
      li {
        &::before {
          background-color: white;
        }
      }

      span,
      &::after,
      &::before {
        background-color: white;
      }
    }

    * {
      color: white;
    }
  }

  .investor__card {
    color: white;
    background: #232425;
    border: 1px solid #303235;
  }

  .table__switch-button {
    background-color: #171b1d;
    color: white;

    &::before {
      border-color: transparent transparent transparent #1c2326;
    }

    &::after {
      border-color: transparent transparent #1c2326;
    }
  }

  .table__switch-button--active {
    background-color: #1c2326;
  }

  ul {
    li {
      &:hover {
        svg {
          color: black;
        }

        button {
          color: black;
        }
      }
    }
  }

  .language__button {
    background: #141414;
    backdrop-filter: blur(5px);

    &::before {
      background-image: url('/assets/images/ChevronDown-white.svg');
    }

    &._active,
    &:hover {
      background: #4572ee;
    }
  }

  .chart__legend {
    background: #232425;
  }

  .chart__legend-blur {
    background: linear-gradient(95.65deg, rgba(32, 34, 58, 0.265) 10.51%, #1d333603 94.31%);
  }

  .chart__dropdown-button {
    background: #141414;
    border: 1px solid #4572ee;

    &::before {
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke='white' stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    }

    color: #fff;
  }

  .chart__dropdown-wrapper ul {
    background: #141414;
    border: 1px solid #4572ee;
  }

  .table {
    background: #1c2326;

    * {
      color: white;
    }
  }

  &::before {
    opacity: 1;
  }
}

.table {
  overflow: hidden;
  max-height: 570px;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 20px 20px 20px 5px;
  background: #fff;
  box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
  border-radius: 0 10px 10px;
  transition: width 0.4s, margin 0.3s, background 0.3s;

  &--hidden {
    margin-right: 0;
  }

  &__wrapper {
    position: relative;
  }

  &__lock {
    text-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background: linear-gradient(
      95.65deg,
      rgba(31, 58, 153, 0.1) 10.51%,
      rgba(136, 1, 158, 0.1) 94.31%
    );
    backdrop-filter: blur(10px);
    border-radius: 10px;

    div {
      max-width: 288px;
      display: block;
      margin: auto;

      img {
        display: block;
        margin: 0 auto 23px;
        transition: transform 0.3s;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $colorFont;
        margin-bottom: 22px;
      }
    }

    &:hover {
      img {
        transform: scale(1.15);
      }
    }
  }

  &__link {
    margin: 0 auto;
    width: fit-content;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    color: white;
    padding: 12px 23px;
    background: linear-gradient(89.6deg, #1f3a99 51.47%, #88019e 91.55%);
    border-radius: 10px;
    transition: background 0.3s;

    &:hover {
      background: linear-gradient(89.6deg, #2f49a7 51.47%, #911ca3 91.55%);
    }
  }

  &__inner {
    z-index: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
  }

  &__switch {
    z-index: 1;
    position: relative;
    transition: margin 0.3s;

    p {
      position: relative;
      bottom: -3px;
    }

    &-button {
      position: relative;
      padding: 19px 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      color: $colorFont;
      background: #dde6ff;
      border-radius: 10px 10px 0 0;
      transition: background 0.3s;

      &:nth-child(1) {
        padding: 19px 25px;
      }

      // box-shadow: rgba(9, 5, 183, 0.6) -9px -19px 15px 2px ;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        opacity: 0;
        right: -7px;
        bottom: 0;
        z-index: 3;
        height: 0;
        border-style: solid;
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent #fff;
        transition: opacity 0.3s;
      }

      &:nth-child(2) {
        padding: 19px;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          opacity: 0;
          height: 0;
          border-style: solid;
          z-index: 3;
          border-width: 0 0 10px 10px;
          border-color: transparent transparent #fff;
          left: -8px;
          bottom: 0;
          transition: opacity 0.3s;
        }
      }

      &--active {
        background-color: #fff;

        &::before {
          opacity: 1;
        }

        &:nth-child(2) {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    &.pro {
      .table__switch-button:nth-child(2) {
        pointer-events: none;
        position: relative;

        &::before {
          content: 'PRO';
          z-index: 1;
          width: fit-content;
          height: fit-content;
          position: absolute;
          border: none;
          opacity: 1;
          padding: 1px 4px;
          background-color: $colorRed;
          border-radius: 4px;
          font-weight: 500;
          font-size: 8px;
          top: 26%;
          transform: translate(50%, -50%);
          right: 50%;
          line-height: 14px;
          text-align: center;
          color: #fff;
        }

        p {
          opacity: 0.5;
        }
      }
    }
  }

  &__wrapper._hidden {
    .table__switch {
      margin-top: 20px;
    }

    .adds__link {
      top: 0;
    }
  }
}

.adds {
  position: relative;
  max-width: 267px;
  border-radius: 10px;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s ease-in, opacity 0.3s 0.4s;

  &--hidden {
    pointer-events: none;
    transform: translateX(50%);
    opacity: 0;
  }

  &__cash {
    padding: 30px 20px 10px;
    background: #fff;
    box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
    margin-bottom: 20px;
    border-radius: 10px;

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 20px;
    }
  }

  &__link {
    top: -84px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #2aabee 0%, #229ed9 99.26%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #fff;
    padding: 22px 64px 23px 65px;
    transition: top 0.3s;

    svg {
      margin-right: 11px;
    }
  }

  &__close {
    z-index: 10;
    position: absolute;
    font-size: 56px;
    right: 5px;
    opacity: 0;
    top: 10px;
    color: #ccc5ff;
    font-weight: 200;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  .swiper {
    border-radius: 10px;
    height: 100%;
  }
}

.investor {
  &__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #585960;

    img {
      margin-right: 9px;
    }
  }

  &__list {
    max-width: fit-content;
    padding: 0 18px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: 95%;
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 2px !important;
  border-radius: 0 !important;
  opacity: 1;
  background-color: white;
  transition: background-color 0.3s, width 0.3s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 3px;
  background-color: #f034b0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4572ee;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

line {
  opacity: 1 !important;
}

@media (max-width: 1270px) {
  .partnership__balance {
    font-size: 16px !important;
  }

  .partnership *.blue {
    font-size: 16px !important;
  }

  .partnership__list li p {
    font-size: 11px !important;
    line-height: 12px !important;
  }
}

@include r($xl) {
  .header {
    position: static;
  }

  .header .menu {
    width: 100%;
    justify-content: space-between;
  }

  .partnership__list li {
    padding: 13.5px 14px;
  }
}

@media (max-width: 1040px) {
  .partnership__head {
    max-width: 988px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 11px;
    white-space: nowrap;
  }

  .partnership__out {
    margin-right: 20px !important;
  }

  .partnership__list li p {
    white-space: break-spaces !important;
  }

  .payment__inner {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .payment__form {
    width: 100%;
    max-width: 100% !important;

    .payment__inner {
      flex-direction: row;
    }
  }

  .payment__block {
    max-width: 100% !important;
    width: 100%;
    margin-bottom: 15px;
  }

  .table {
    padding: 10px 0;
  }
}

@include r($md) {
  .partnership__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      max-width: 100%;
      margin: 7px auto;
      width: 100%;

      &.block {
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  }

  .table__switch-button::before,
  .table__switch-button::after {
    display: none !important;
  }
}

@include r($sm) {
  .investor {
    grid-template-columns: 1fr !important;
    overflow-y: unset !important;
    overflow-x: unset !important;

    &__button {
      display: block;
    }
  }

  .partnership-raiting__head li p {
    font-size: 8px;
  }

  .partnership-raiting th,
  .partnership-raiting tbody tr {
    font-size: 9px !important;
  }

  .partnership-bonus .partnership-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .partnership-bonus .partnership__title p {
    text-align: center;
  }

  .payment__select-list li,
  .payment__select-button {
    color: black !important;
  }

  .payment__form .payment__inner {
    flex-direction: column;

    .payment__wallet {
      margin: 15px auto;
    }
  }

  .payment__input {
    font-size: 10px;
  }

  .payment__submit {
    font-size: 10px;
  }

  .container {
    padding: 0 15px;
  }

  .payment__wrapper div {
    font-size: 14px;
  }

  .payment__wrapper p {
    font-size: 13px;
  }

  .partnership__body li p {
    font-size: 10px;
  }

  .partnership__partners {
    .partnership__head:nth-child(2) {
      font-size: 12px;
    }
  }

  .partnership__body li p:nth-child(2) {
    margin-left: 35px;
  }

  .partnership__system {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .partnership__card {
    margin: 5px;
  }
}
