.Toastify__toast-container {
  width: 244px;
  padding: 0;

  &--bottom-right {
    right: 30px;
    bottom: 80px;
  }
}

.Toastify__toast-icon {
  display: none;
}

.Toastify__toast {
  padding: 0;
  border-radius: 10px;
}

.Toastify__toast--success {
  border: 2px solid #339987;
}

.Toastify__toast--error {
  border: 2px solid #ca390c;
}

.Toastify__toast-body {
  height: 64px;
  padding: 0;
}

.Toastify__toast-body > div {
  height: 100%;
}

.close-wrap {
  position: relative;
  width: 36px;
  margin-left: auto;
  cursor: pointer;
}

.close-wrap__close {
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  margin: auto;
}

.Toastify__toast-container svg {
  width: 36px;
  height: 36px;
}

.bg {
  fill: none;
  stroke-width: 1px;
  stroke: #4572ee;
}

[class^='meter-'] {
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
  stroke: #fff;
  animation: progress-1 60s ease-out;
}

.toast-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 14px;
}

.toast-wrap__text {
  margin-left: 20px;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  color: #262628;
}

.toast-wrap:hover .meter-1 {
  animation-play-state: paused;
}

@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }

  to {
    stroke-dashoffset: 0;
  }
}
