/* stylelint-disable selector-id-pattern */
#___reactour svg {
  opacity: 0.6;
}

.tourBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tour {
  text-align: center;
}

.tour h4 {
  font-size: 18px;
}

.tourNextBtn {
  width: 140px;
  padding: 12px 23px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  border: none;
  border-radius: 20px;
  transition: 0.25s opacity;
  background-color: #4572ee;
  cursor: pointer;
  text-transform: uppercase;
}

.tourNextBtn-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #262628;
}

.tourNextBtn:hover {
  opacity: 0.7;
}

.tourStep {
  font-weight: 500;
  font-size: 18px;
}

.tourStepText {
  display: flex;
  gap: 10px;
}

.infoSvg {
  margin-top: 2px;
}

.tourStep-btns {
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-top: 10px;
}

.tourStep-next {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s opacity;
}

.tourStep-next:hover {
  opacity: 0.7;
}

.tourStep-prev {
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s opacity;
}

.tourStep-prev:hover {
  opacity: 0.7;
}

.reactour__close {
  color: #fff !important;

  &:hover {
    opacity: 0.7;
  }
}
