.payment {
  margin-top: 40px;
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    color: #262628;
    margin-bottom: 26px;
  }

  &__block {
    padding: 30px 20px;
    max-width: 555px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #262628;
    margin-bottom: 16px;
  }

  &__select {
    position: relative;
    padding-bottom: 15px;
    display: flex;
    text-align: left;
    flex-direction: column;
    border-bottom: 1px dashed #DDDFE1;

    &-button {
      position: relative;
      text-align: left;
      padding: 8px 10px;
      background: #FFFFFF;
      border: 1px solid #CCC5FF;
      border-radius: 10px;

      &::before {
        content: '';
        position: absolute;
        width: 12px;
        right: 15px;
        top: 11px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2056 1L5.70557 5L1.20557 1' stroke='url(%23paint0_linear_828_2150)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_828_2150' x1='11.7134' y1='5' x2='11.8751' y2='1.32358' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231F3A99'/%3E%3Cstop offset='1' stop-color='%2388019E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        transition: transform 0.3s;
      }
    }

    &-list {
      width: 100%;
      top: 50px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background: #FFFFFF;
      border: 1px solid #CCC5FF;
      border-radius: 10px;
      transition: opacity 0.3s, top 0.3s;

      li {
        cursor: pointer;
        padding: 8px;
        transition: color 0.3s, background-color 0.3s;

        &:hover {
          background-color: #eae7ff;
        }

        &:last-child {
          border-radius: 0 0 9px 9px;
        }

        &:first-child {
          border-radius: 9px 9px 0px 0px;
        }
      }
    }

    &.active {
      .payment__select-button {
        &::before {
          transform: rotateX(180deg);
        }
      }

      .payment__select-list {
        opacity: 1;
        top: 75px;
        pointer-events: all;
      }
    }
  }

  &__sum {
    padding: 34px 0;
    border-bottom: 1px dashed #DDDFE1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      color: #262628;
    }

    div {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 14px;
      text-align: right;
      color: #262628;

      span {
        color: #26A17B;
        margin-left: 4px;
      }

      img {
        margin-left: 10px;
      }
    }

    &--form {
      width: 70%;
      margin-right: 20px;
      padding: 30px 20px;
      background: #F1F1F1;
      box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
      border-radius: 10px;
    }
  }

  &__text {
    padding: 20px 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #262628;
    border-bottom: 1px dashed #DDDFE1;
  }

  &__timer {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 19px;
    color: #88019E;
  }

  &__form {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    max-width: 785px;

    .payment__wrapper {
      display: flex;
      flex-direction: column;

      div {
        align-items: flex-start;
        text-align: left;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 16px;
          padding-bottom: 20px;
          border-bottom: 1px dashed #DDDFE1;
        }
      }
    }
  }

  &__copy {
    top: 42px;
    right: 14px;
    z-index: 2;
    position: absolute;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

  &__txid {
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
  }

  &__input {
    width: 100%;
    outline: aliceblue;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #CCC5FF;
    border-radius: 10px;
    transition: border-color 0.3s;
  }

  &__wallet {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #262628;

    img {
      margin-bottom: 15px;
    }
  }

  &__operation {
    display: flex;
    align-items: center;
    position: relative;

    input {
      margin-right: 20px;
    }
  }

  &__error {
    opacity: 0;
    left: 0;
    bottom: -30px;
    color: red;
    position: absolute;
    transition: opacity 0.3s, bottom 0.3s;

    &.active {
      opacity: 1;
      bottom: -20px;
    }
  }

  &__submit {
    padding: 11px 0;
    width: 137px;
    color: white;
    background: #4572ee;
    border-radius: 40px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }
}