.ui {
  &__info {
    z-index: 8;
    width: 126px;
    right: -65px;
    top: 10px;
    position: absolute;

    p {
      pointer-events: none;
      border-radius: 10px;
      opacity: 0;
      position: absolute;
      padding: 7px;
      font-weight: 500;
      font-size: 10px;
      top: -75px;
      left: -40%;
      line-height: 14px;
      color: $colorFont;
      max-width: 126px;
      background: #fff;
      border: 1px solid #7482e3;
      box-shadow: 0 2px 20px rgba(9, 5, 183, 0.06);
      transition: opacity 0.3s;
    }

    button {
      cursor: default;
      z-index: 9;
      padding: 0 7px;
      font-weight: 600;
      font-size: 9px;
      color: white;
      background: #1f3a99;
      border-radius: 50%;
    }
  }

  &__lock {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(69, 114, 238, 0.1);
    backdrop-filter: blur(10px);
    // border-radius: 10px;

    div {
      text-align: center;
      max-width: 288px;
      display: flex;
      color: $colorFont;
      flex-direction: column;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;

      svg {
        font-size: 31px;
        margin-bottom: 23px;
        text-align: center;
      }

      h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 22px;
      }

      a {
        padding: 13px 22px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #fff;
        background: $colorPrimary;
        border-radius: 40px;
      }
    }
  }
}

.svg-icon {
  display: inline-block;
  font-style: normal;
  fill: currentcolor;
  height: 1em;
}
