// LAYOUT
$mobile-s: 374
$sm: 575
$md: 876
$lg: 992
$xl: 1200
$hd: 1440

// FONTS
$baseFont: GilroyWeb, sans-serif

$ease: ease-in-out

// COLORS
$colorFont: #262628
$colorGray: #818184
$colorPrimary: #4572ee
$colorAccent: #A7C97C
$colorRed: #CA390C
$colorGreen: #339987
$colorYellow: #EFAD10
$colorBg: #EAF1F6

  